<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<splitpane vertical v-model="$session.panel1.pos">
		<template v-slot:first>
			<div class="flex flex-col flex-1 h-full max-w-full">
				<div class="flex h-full min-h-0 relative">
					<vgrid-tbl  v-if="vmode" :table="table" :data="data" :planview="planview"/>
					<pivot v-if="!vmode" :model="table" :sql="sql" @cancel="onCancel"/>
					<div class="blocker flex" v-if="$session.activity">
						<button class="blk-button" @click="onCancel">
							<dt-icon type="reload" :class="{'dt-rot': $session.activity}" class="fill-current"/>
						</button>
					</div>
				</div>
				<status-panel v-model="doc"
							  :xinfo="xinfo" 
							  :status="status"
							  @view="vmode=!vmode"/>
			</div>
		</template>
		<template v-slot:second>
			<vcm ref="editor" :doc="doc" :sqlMessage="message" @exec="run" class="w-full"/>
		</template>
	</splitpane>	
</template>

<style scoped>
	.editor-panel {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden; 
	}
	.blocker {
		position: absolute;
		bottom: 1em;
		left: 2em;
	}
	.blocker button.blk-button {
		padding: .3rem 1.2rem;
		box-shadow: 2px 2px 4px rgba(100,100,100,.2);
		background-color: rgba(10,100,200,.32);
		border: solid 1px rgba(100,100,100,.1);
		border-radius: 2px;
		min-width: 3.5rem;
		min-height: 1.7em;
	}
	.blocker button.blk-button:hover {
		background-color: rgba(240,120,120, .6);
	}
	.blocker button.blk-button:active {
		background-color: rgba(240,120,120, .95);
		box-shadow: none;
	}
</style>

<script>
	import vcm from "./vcm";
	import pivot from "./pivot/pivot";
	import {Table} from "apache-arrow";
	import vgridTbl from "./vgrid-tbl";
	import StatusPanel from "./status-panel";
	import DtIcon from "@/components/icons/dt-icon"
	export default {
		name: "sqlPanel",
		components: {vgridTbl, vcm, pivot, StatusPanel, DtIcon},
		data: () => ({
				files: [],
				vmode: true,
				doc: null,
				table: null,
				data: null,
				sql: null,
				status: {limit: null, current: null, schemas: []},
				xinfo: null,
				message: null,
				dbg: true,
				planview: false
			}),
		watch: {
		},
		mounted() {
			this.setup()
			this.$bus.$on("view", this.onView)
		},
		beforeDestroy() {
			this.$bus.$off("view", this.onView)
		},

		methods: {
			setup() {
				this.getStatus()
			},
			docSelect(doc) {
				this.doc = doc
			},
			onDbg(data) {
				this.dbg = data
			},
			toggleView(data) {
			},
			onView(item) {
				if (!item || item.level() !== 2) return null
				this.run("select * from " + item.path.join("."), false)
			},
			onCancel() {
				this.$svr.reset().then(r => this.$session.activity = false)
			},
			run(sql, notify=true) {
				this.$session.activity = true
				this.message = null
				this.planview = false
				this.$svr.executeSqlx(sql,true,this.dbg)
						.then(r => {
							const tst = sql.toLowerCase().replace(/^[ \t]*--.*/,"")
							console.log("###########",tst)
							this.planview = sql.toLowerCase().replace(/^[ \t]*--.*/,"").trim().startsWith("explain")
							this.data = r.data
							this.table = Table.from([r.data])
							this.sql = sql
							this.xinfo = ({tm: r.headers.timing, nr: this.table.count(), mem: r.data.byteLength})

							this.$session.activity = false
							this.getStatus()
						})
						.catch(x => { if (notify) {
							const message = new TextDecoder("utf-8").decode(x.response.data)
							this.message = JSON.parse(message)
							this.xinfo = ({tm: null, nr: null, mem: null})
							this.$session.activity = false
							this.getStatus()
						}})
			},
			getStatus() {
				this.$svr.status().then(r => this.status = r.data)
			}
		}
	}
</script>