<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="status-panel flex flex-col">

		<div class="gradient-1 flex flex-1 items-center px-2">
			<div class="buttons flex items-center">
				<span class="vk-label" hint="Row Count" v-hint><zondicon icon="menu"/><span class="measure">{{nrows?nrows:'----'}}</span></span>
				<span class="vk-label flex" hint="Query Time" v-hint><zondicon icon="time"/><span class="measure">{{timing?timing:'---- ms'}}</span></span>
				<span class="vk-label mr-4" hint="Mem Usage" v-hint><zondicon class="z-rot" icon="battery-low"/><span class="measure">{{memory?memory:'---- KB'}}</span></span>
				<vk-button class="w-20" color="blue" @click="changeView" :icon="modeIcon" v-hint :hint="'Switch to '+modeLabel+' View'" >{{modeLabel}}</vk-button>
				<vk-button color="green" class="ml-3" @click="$bus.$emit('reselect', -1)" icon="cheveron-left"></vk-button>
				<vk-button color="green" class="" @click="$bus.$emit('recordMode')" icon="indent-increase" hint="Toggle Record View" v-hint>R</vk-button>
				<vk-button color="green" class="" @click="$bus.$emit('reselect', +1)" icon="cheveron-right"></vk-button>
				<vk-button color="indigo" class="ml-3 mr-1" @click="$bus.$emit('export', true)" icon="download" hint="Export XLSX" v-hint>XLSX</vk-button>
				<vk-button color="indigo" class="mr-6" @click="$bus.$emit('export', false)" icon="download" hint="Export CSV" v-hint>CSV</vk-button>
				<div class="flex flex-col">
					<div class="flex h-full">
					<vk-button class="flex btn" color="red-100" icon="compose" @click="onCommit" hint="Commit Document" v-hint></vk-button>
					<vk-button class="flex btn" color="blue-100" icon="document" @click="$bus.$emit('save-doc')" hint="Save Document" v-hint></vk-button>
					<vk-chooser class="repo max-w-50" 
								v-model="file"
								:options="files" 
								:clearable="false"
								@new="onNew"
								@delete="onDelete"
								@rename="onRename"
								>
					</vk-chooser>
					</div>
				</div>
			</div>
			<div class="schema-control flex flex-1 justify-end">
				<div class="flex items-center">
					<vk-input label="lim" placeholder="Unlimited" v-model="status.limit" @change="onLimit" hint="Row Limit" v-hint nf/>
					<vk-select class="ml-2" :model="schemaInfo" @change="onDatabase" hint="Current Schema" v-hint></vk-select>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
</style>
<style scoped>
	.status-panel {
		border-top: solid 1px rgba(100,100,100,.32);
	}
	.w-20 {
		width: 5rem;
	}
	.status-panel >>> .vk-label {
		@apply pl-2 border border-gray-300 bg-gray-100 flex items-center;
	}
	.status-panel >>> .measure {
		min-width: 5em;
		@apply flex justify-end px-2 cursor-default;
	}
	.status-panel >>> .vk-label svg {
		height: .92rem;
		@apply fill-current;
	}
	.status-panel >>> .vk-label svg.z-rot {
		transform: rotate(-90deg);
		opacity: .75;
	}
</style>


<script>
	export default {
		components: {},
		name: "status-panel",
		data: () => ({
				file: null,
				files: [],
				discard: "",
				vmode: false,
				nrows: null,
				timing: null,
				memory: null,
				dbg: false
			}),
		props: {
			value: {type: Object, default: null},
			xinfo: Object,
			status: Object
		},
		watch: {
			file(n, o) {
				console.log("watch", o, n)
				if (n) this.$svr.repoGet(n)
							.then(r => this.$emit("input", ({fname: n, discard: this.discard, txt: r.data})))
							.then(() => this.discard = "")
			},
			xinfo(n, o) {
				this.showStats(n)
			},
		},
		computed: {
			schemaInfo() {
				return ({name: "db:", values: this.status.schemas, current: this.status.current})
			},
			modeLabel() {
				return this.vmode ? "Table" : "Pivot"
			},
			modeIcon() {
				return this.vmode ? "list-bullet" : "border-none"
			}
		},
		mounted() {
			this.setup()
			this.$bus.$on("show-stats", this.showStats)
		},
		beforeDestroy() {
			this.$bus.$off("show-stats", this.showStats)
		},
		methods: {
			async setup(fname = null) {
				const r = await this.$svr.repoList()
				this.files = r.data
				if (fname) this.file = fname
				else {
					if (this.files.length) this.file = this.files[0]
					else await this.onNew("default")
			}
			},
			async onNew(event) {
				const fname = event.endsWith(".sql") ? event : `${event}.sql`
				await this.$svr.repoSave(fname, "--- new file\n", "created: "+fname)
				await this.setup(fname)
			},
			async onDelete(event) {
				await this.$svr.repoDelete(event)
				this.discard = "current";
				await this.setup()
			},
			async onRename(event) {
				const fname = event.to.endsWith(".sql") ? event.to : `${event.to}.sql`
				await this.$bus.$emit("save-doc")
				await this.$svr.repoRename(event.from, fname)
				this.discard = "all";
				await this.setup(fname)
			},
			showStats(stats) {
				if (!stats) return
				this.nrows = this.fmt(stats.nr)
				this.timing = (stats.tm) ? stats.tm + "ms" : null
				this.memory = (stats.mem < 1024 * 1024)
						? Math.round(stats.mem / 1024) + " KB"
						: this.fmt(stats.mem / 1024 / 1024, 1) + "MB"
			},
			changeView() {
				this.vmode = !this.vmode
				this.$emit("view", this.vmode)
			},
			fmt(val, precision = 0) {
				return Intl.NumberFormat("en-US", {
					useGrouping: true, minimumFractionDigits: precision, maximumFractionDigits: precision}).format(val)
			},
			onLimit(value) {
				this.$svr.setLimit(value).then(_ => this.$emit("status"))
			},
			onDatabase(value) {
				this.$svr.setSchema(this.schemaInfo.current)
			},
			onCommit() {
				this.$bus.$modal.show('tm-commit', {data: this.file})				
			}
		}
	}
</script>
