<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
    <div class="sql-panel">
		<div ref="message" class="message">
			<div class="inset max-w-full max-h-full px-2">
				<section class="text-sm flex items-center p-3 bg-gray-0">
					<zondicon icon="exclamation-outline" class="fill-current text-red-500 h-5"/>
					<div class="pl-2">Error</div>
				</section>
				<div class="error-text text-xs max-w-full max-h-full p-3"><pre><code>{{message}}</code></pre></div>
			</div>
		</div>
			<textarea ref="vcm"></textarea>
    </div>
</template>

<script src="./vcm.v.js"></script>
<style>
	.message .inset {
		display: flex;
		flex-direction: column;
		max-height: 100%;
	}
	.message .inset .fa {
		padding: 0 .4em 0em .05em;
		color: red;
	}

	.message section {
		border-bottom: solid 1px rgba(50,50,50,.2);
		padding-bottom: .4em;
		margin-bottom: .4em;
	}
	.message .error-text {
		color: #333;
		font-family: monospace;
		overflow: auto;
	}
	.error-text pre {
		white-space: pre-line;
		background-color: transparent;
		border: none;
			
	}
	.message {
		transform: translate(0.25rem,.25rem);
		border: solid 1px rgba(100,100,100,.2);
		border-top: solid 2px rgba(250,00,00,.4);
		border-radius: 2px;
		position: absolute;
		top: 1px;
		left: 1px;
		z-index: 10;
		max-width: 30%;
		max-height: 50%;
		background-color: #f8f8f8;
		color: black;
		box-shadow: 4px 4px 16px 4px rgba(100,100,100,.1);
		display: none;
		opacity: .95;
	}
	.message:before {
		content: "";
		position: absolute;
		transform: translate(-1px,-7px);
		width: 0; 
		height: 0; 
		border-left: 4px solid transparent; 
		border-right: 4px solid transparent; 
		border-bottom: 6px solid rgba(250,00,00,.4);
	}
	ul.CodeMirror-hints {
		border-left: solid 2pt rgba(20,100,200,.8);
		border-radius: 0;
		padding-left: .2em;
		z-index: 10000;
		font-size: 85%;
	}
	
	
	li.CodeMirror-hint:before {
		content: "\f121";
		color: #0ff;
		font-family: "FontAwesome";
		color: #aaa;
		padding-right: .4em;
		background-color: rgba(250,250,250,0);
	}
	li.CodeMirror-hint-function:before {
		content: "\2a0d";
		color: #0ff;
		font-family: "roboto";
		font-style: italic;
		color: #88f;
		padding-left: .2rem;
		padding-right: .5rem;
		background-color: rgba(250,250,250,0);
	}

	li.CodeMirror-hint-active {
		background-color: rgba(100,150,200,.2);
	}
	li.CodeMirror-hint {
		color:rgb(100,100,100);
		line-height: 1.6em;
		vertical-align: middle;	
	}
	.sql-panel .CodeMirror-code {
		@apply text-sm;
		font-family: roboto mono;
	}
	.CodeMirror {
		height: 100%;
		width: 100%;
	}
	div.current-sql {
		background-color: #ebf0f3;
		/*background-color: #f0f0f4;*/
		/*left: 1em;;*/
	}
	div.current-sql-error {
		background-color: #faeaea;
	}
	.CodeMirror-activeline-background {
		background-color: rgba(200,200,200,.2);
	}
	.CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
		background: red !important;
	}
</style>
<style>
	.sql-panel  CodeMirror-selected { background: rgba(100,160,200,.2);}
	.sql-panel .CodeMirror-focused .CodeMirror-selected { background: #lightgreen; }
	.sql-panel .CodeMirror-crosshair { cursor: crosshair; }
	.sql-panel .CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #lightgreen; }
	.sql-panel .CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #lightgreen; }
</style>

