<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->

<template>
	<!--<perspective-viewer id="view1"class="c"></perspective-viewer>-->
	<div class="flex w-full mr-1 data-tbl">
		<div class="flex h-full min-h-0 flex-row w-full" ref="rtc">
			<div v-if="planview" class="flex flex-1 flex-col w-full max-w-full">
				<div v-scroll class="border flex overflow-auto w-full min-h-full planv">
					<pre ref="plan" class="text-xs plan p-6"><code class="">{{plan}}</code></pre>
				</div>
			</div>
			<regular-table v-else id="rtbl" class="rt flex min-h-0 w-full" :class="vclass" ref="tbl" :key="key"></regular-table>
			<button ref="busy"
					class="absolute hidden opacity-75 bottom-0 left-0 px-4 ml-8 mb-2 p-1 bg-blue-200">
				<i class="fa fa-refresh fa-spin mr-2"/>collecting ..{{progress}} %</button>
		</div>
	</div>


</template>
<style>
	regular-table thead tr:not(:last-child) th, :host thead tr:not(:last-child) th {
		max-width: inherit !important;
	}

</style>
<style scoped>
	.data-tbl {
	}
	.data-tbl >>> .planv {
		background-color: rgba(200,200,200,.2);
	}
	.data-tbl >>> .hljs {
		background-color: transparent;
		overflow-x: visible;
		line-height: 1.2rem;
		@apply text-gray-700;
	}
	.data-tbl >>> .hljs-comment {
		color:#aa5252;
		font-weight: bold;
	}
	.data-tbl >>> .hljs-fade {
		color:#888;
		/*		font-style: italic;*/
	}
	.data-tbl >>> .rt {
		font-family: roboto;
		padding-right: 12px;
	}
	.data-tbl >>> .rt thead tr:first-child th {
		padding: 0 .5rem 0 .5rem;
		text-transform: none;
		text-align: left;
		font-weight: normal;
		height: 0.01px;
		line-height: 0.01px;
		visibility: hidden;
	}
	.data-tbl >>> .rt thead th {
		text-transform: uppercase;
		font-weight: normal;
	}
	.data-tbl >>> .rt thead th:first-child,
	.data-tbl >>> .rt tbody tr th {
		border-right: solid 1px rgba(100,100,100,.2);
		font-weight: normal;
		/*font-style: oblique;*/

	}
	.data-tbl >>> .rt th, .data-tbl >>> .rt td {
		padding: 0 .5rem 0 .5rem;
	}
	.data-tbl >>> .rt td.col-name {
		font-weight: 500;
		padding-right: 3em;
	} 
	.data-tbl >>> .rt .selected {
		background-color: #bfd2ec44
	}
	.data-tbl >>> .rt .numeric-record {
		color: #5f80ac;
	}
	.data-tbl >>> .rt .numeric {
		color: #5f80ac;
		text-align: right;
	}
	.data-tbl >>> tr:hover .numeric {
		color: #2f507c;
	}
	/*.rt,*/ 
	.data-tbl >>> .rt:hover {
		scrollbar-color: rgba(100,100,100,0.3) transparent;		
	}
	.data-tbl >>> .record-view thead tr th {
		text-align: left;
	}

	.data-tbl >>> .record-view thead tr:first-child th {
		height: .01px;
		line-height: .01px;
		overflow: hidden;
	}
	.data-tbl >>> .record-view thead tr:first-child th:nth-child(2) {
		padding-right: 3em;
	}

</style>
<script>
	import * as _  from "lodash";
	import "regular-table";
	import "@/assets/rgt.css"
	import ResizeSensor from "css-element-queries/src/ResizeSensor.js"
	import ArrowTypes from "@/components/common/ArrowTypes"
	import {Type} from "apache-arrow";
	import io from "@/components/common/io";

	import VgridUtil from "./vgrid-util";

	export default {
		name: "vgridTbl",
		data: () => ({
				viewer: null,
				selected: -1,
				rselected: -1,
				prevrow: 0,
				recordMode: false,
				col0: null,
				progress: 0,
				key: 0,
				rs: null,
				fmts: [],
				numcols: [],
				plan: ""
			}),

		props: {
			planview: Boolean,
			table: Object,
			data: ArrayBuffer
		},
		computed: {
			vclass() {
				return this.recordMode ? "record-view" : ""
			}
		},
		watch: {
			data(n, o) {
				this.onupdate()
			}
		},
		mounted() {
			this.rs = new ResizeSensor(this.$refs.rtc, () => this.adjust())
			this.onupdate()
			this.$bus.$on("export", this.download)
			this.$bus.$on("recordMode", this.toggleMode)
			this.$bus.$on("reselect", this.reselect)
		},
		beforeDestroy() {
			this.$bus.$off("export", this.download)
			this.$bus.$off("recordMode", this.toggleMode)
			this.$bus.$off("reselect", this.reselect)
		},
		methods: {
			scrollTo(x, y) {
				console.log("scrolling", x, y)
				const ncols = this.recordMode ? this.table.count() : this.table.schema.fields.length
				const nrows = this.recordMode ? this.table.schema.fields.length : this.table.count()

				const f = () => this.viewer.scrollToCell(x, y, ncols, nrows)
				this.$nextTick().then(f).then(f)
			},
			reselect(offset) {
				if (this.viewer) this.prevrow = this.viewer._start_row
				this.selected += offset
				this.onupdate(false)
			},
			toggleMode() {
				if (!this.recordMode && this.selected < 0) return 0
				this.recordMode = !this.recordMode
				this.onupdate(false, !this.recordMode)
			},
			download(xlsx) {
				this.progress = 0
				this.$refs.busy.style.display = "block"
				const completed = () => this.$refs.busy.style.display = "none"
				const progress = p => this.progress = p
				io.exportArrow(this.data, xlsx, this.recordMode ? this.selected : -1, completed, progress)
			},
			onupdate(newModel = true, withScroll = false) {
				if (newModel) this.selected = this.rselected = -1
				if (!this.table) return 0

				console.log("current", this.viewer, this.prevrow)

				this.key += 1
				this.fmts = this.table.schema.fields.map(p => (q => ArrowTypes[p.typeId].cellFmt(p, q)))
				this.numcols = this.table.schema.fields.map(p => ArrowTypes[p.typeId].isNum())


				if (this.recordMode) {
					const reducer = (a, b) => a.length > b.length ? a : b
					this.col0 = this.table.schema.fields.map(p => p.name).reduce(reducer, "")
				}
				else this.col0 = null

				if (this.planview) {
					this.plan = this.table.getColumnAt(0).get(0)
					if (this.plan) this.plan = this.plan.trimLeft()
					this.$nextTick().then(() => VgridUtil.format(this.$refs.plan))
					return 0
				}

				this.$nextTick().then(() => {
					this.viewer = document.getElementsByTagName("regular-table")[0];
					this.viewer.setDataListener(this.dataListener);
					this.viewer.addEventListener("mousedown", this.onClick)
					this.viewer.addStyleListener(_ => {
						for (const td of this.viewer.querySelectorAll("tbody td")) this.style_td(td)
					})
				}).then(() => {
					this.viewer.draw()
					if (this.recordMode) this.scrollTo(0, this.prevrow)
					else this.scrollTo(0, this.selected)
				})
			},
			onClick(event) {
				const meta = this.viewer.getMeta(event.target)
				if (!meta) return 0
				if (this.recordMode)
					this.rselected = this.rselected === meta.x ? -1 : meta.x
				else
					this.selected = this.selected === meta.y ? -1 : meta.y

				this.viewer.draw()
			},
			style_td(td) {
				const meta = this.viewer.getMeta(td)
				if (!this.recordMode) td.classList.toggle("selected", meta.y === this.selected)
				if (this.recordMode) {
					td.classList.toggle("numeric-record", this.numcols[meta.y] && meta.x > 0)
					td.classList.toggle("col-name", meta.x === 0)
				}
				else
					td.classList.toggle("numeric", this.numcols[meta.x])
			},
			adjust() {
				if (!this.viewer) return 0
				const pn = this.$refs.rtc
				this.viewer.style.height = pn.clientHeight + "px"
				this.viewer.style.width = pn.widthHeight + "px"
				this.viewer.draw()
			},
			maxValues(col) {
				switch (col.field.typeId) {
					case Type.Utf8:
						var init = 0
						var i0 = 0
						var i1 = 0
						const offsets = col.data.valueOffsets
						for (var k = 1; k < offsets.length; ++k) {
							const d = offsets[k] - offsets[k - 1]
							if (d > init) {
								init = d
								i0 = offsets[k - 1]
								i1 = offsets[k]
							}
						}
						return new TextDecoder("utf-8").decode(col.data.values.slice(i0, i1))
						break

					default:
						return ""
				}
			},
			dataListener(x0, y0, x1, y1) {
				const tbl = this.table
				if (!this.table) {
					return {num_rows: 0, num_columns: 0}
				}

				const nrows = tbl.count()
				const ncols = tbl.schema.fields.length
				x1 = Math.min(x1, ncols)

				const npad = Math.floor(Math.log10(this.recordMode ? ncols : nrows)) + 1

				const range = (a, b) => (a < b) ? [...Array(b - a).keys()].map(p => p + a) : []

				const maxv = range(0, ncols).map(p => tbl.getColumnAt(p)).map(k => this.maxValues(k))
				const cheaders = range(x0, x1).map(p => [maxv[p], this.table.schema.fields[p].name])
				const rheaders = range(y0, y1).map(p => [_.padStart("" + p, npad, "0")])

				if (this.recordMode) return {
						num_rows: ncols,
						num_columns: 2,
						row_headers: rheaders,
						column_headers: [[this.col0, "column"], ["", "value"]],
						data: range(x0, x1)
								.map(x => range(y0, y1)
											.map(y => x === 0
														? this.table.getColumnAt(y).name
														: this.fmts[y]({value: this.table.getColumnAt(y).get(this.selected)}))),
					}
				return {
					num_rows: this.table.count(),
					num_columns: this.table.schema.fields.length,
					row_headers: rheaders,
					column_headers: cheaders,
					data: range(x0, x1).map(x => range(y0, y1).map(y => this.fmts[x]({value: this.table.getColumnAt(x).get(y)}))),
				}
			}

		},
	}
</script>
