<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<img v-if="isType('string')"		svg-inline svg-sprite src="./dt-string.svg" class="dt-icon txt"/>
	<img v-else-if="isType('float')"	svg-inline svg-sprite src="./dt-double.svg" class="dt-icon dbl"/>
	<img v-else-if="isType('integer')"	svg-inline svg-sprite src="./dt-integer.svg" class="dt-icon int"/>
	<img v-else-if="isType('date')"		svg-inline svg-sprite src="./dt-date.svg" class="dt-icon date"/>
	<img v-else-if="isType('boolean')"	svg-inline svg-sprite src="./dt-bool.svg" class="dt-icon bool"/>
	<img v-else-if="isType('table')"	svg-inline svg-sprite src="./dt-table.svg" class="dt-icon dtable "/>
	<img v-else-if="isType('reload')"	svg-inline svg-sprite src="./dt-reload.svg" class="dt-icon reload"/>
	<img v-else-if="isType('database')"	svg-inline svg-sprite src="./dt-database.svg" class="dt-icon database"/>
	<img v-else-if="isType('library')"	svg-inline svg-sprite src="./dt-layer.svg" class="dt-icon library"/>
	<img v-else-if="isType('caret-right')"	svg-inline svg-sprite src="./dt-caret-right.svg" class="dt-icon caret-right"/>
	<img v-else-if="isType('caret-down')"	svg-inline svg-sprite src="./dt-caret-down.svg" class="dt-icon caret-down"/>
	<img v-else-if="isType('datapoint')"	svg-inline svg-sprite src="./dt-datapoint.svg" class="dt-icon datapoint"/>
	<img v-else-if="isType('datapoint-solid')"	svg-inline svg-sprite src="./dt-datapoint-solid.svg" class="dt-icon datapoint"/>
	<img v-else-if="isType('circle')"	svg-inline svg-sprite src="./dt-circle.svg" class="dt-icon circle"/>
	<img v-else-if="isType('circle-solid')"	svg-inline svg-sprite src="./dt-circle-solid.svg" class="dt-icon circle-solid"/>
	<img v-else svg-inline svg-sprite src="./dt-other.svg" class="dt-icon oth"/>
</template>
<style>
	svg.dt-icon {
		display: flex;
		flex: 0 0 auto;
		fill: currentColor;
		width: 16px;
		box-sizing: content-box;
		border: none;
		outline: none;
		/*border: solid 1px rgba(100,100,100,.05);*/
		/*border-radius: 2px;*/
	}
	svg.dt-icon.database {
		fill: #7f8588
	}
	svg.dt-icon.library {
		fill: #7f8588
	}
	svg.dt-icon.dbl {
		fill: #c64426;
	}
	svg.dt-icon.int {
		fill: #004cff;
	}
	svg.dt-icon.txt {
		fill: #707380;
	}
	svg.dt-icon.date {
		fill: #1d8f0d;
	}
	svg.dt-icon.dtable {
		border: none;
		fill: #719b97
	}
	.dt-rot {
		animation: rotation 2s infinite linear;
	}
	
	svg.dt-icon.reload {
		border: none;
	}
	svg.dt-icon.library {
		border: none;
	}
	svg.dt-icon.database {
		border: none;
	}
	@keyframes rotation {
		0%   { transform: rotate(0deg);}
		100% { transform: rotate(360deg);}
	}

</style>
<script>
	export default {
		data: () => ({
			}),
		props: {
			type: {
				type: String, default: ""
			}
		},
		methods: {
			isType(name) {
				const type = this.type
				if (name === "float") return ["float", "double"].includes(type) || type.startsWith("decimal")
				else if (name === "integer") return ["integer", "long", "short"].includes(type)
				else if (name === "date") return ["date", "timestamp"].includes(type)
				else return this.type === name
			},
		}
	}
</script>
<style>
</style>
