<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<style>
	.vue-treeselect__limit-tip-text,
	.nselect .vue-treeselect__multi-value-item {
		font-size: inherit;
	}
	.nselect .vue-treeselect__control {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
	}
	.nselect .vue-treeselect__placeholder:not(.vue-treeselect-helper-hide) {
		display: flex;
		align-items: center;
	}	
	.nselect  .vue-treeselect__multi-value-item, 
	.nselect .vue-treeselect__single-value {
		background-color: rgba(230,226,222,.4);
		vertical-align: middle;
		align-items: center;
		margin-left: .2em;
		display: flex;
		color: #2f6a8a;
	}
</style>
<script>
	import Treeselect from "@riophae/vue-treeselect";
	import "@riophae/vue-treeselect/dist/vue-treeselect.css";
	export default {
		components: {Treeselect},	
		extends: Treeselect,
		name: "nselect",
		props: {
			selection: null
		},
		mixins: [{
				methods: {
					handleLocalSearch: function () {
						const {searchQuery} = this.trigger
						if ("*" !== searchQuery)
							Treeselect.mixins[0].methods.handleLocalSearch.bind(this).call()
						else
							this.traverseAllNodesDFS(node => {
								if (!this.forest.selectedNodeMap[node.id]) this.select(node)
							})
					}
				}
			}
		],
		mounted: function () {
			if (this.selection && this.selection.length > 0) {
				const set = {}
				this.selection.forEach(p=>set[p]=1)
				this.traverseAllNodesDFS(node => { if(set[node.id])this.select(node) })

			}
			else {
				var n = this.multiple ? 2 : 1;
				this.traverseAllNodesDFS(node => { if(--n > -1)this.select(node) })

			}
		}
	}
</script>
