<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="pvt flex max-h-full flex-1 min-h-0 relative h-full">
		<splitpane v-model="pos">
			<template v-slot:first class="viewer">
				<div class="flex relative w-full flex-col" :class="viewClass">
					<div class="flex absolute top-0 w-full justify-between z-10 px-4 py-3">
						<div class="switch flex self-center" v-hint :hint="viewLabel" hint-pos="bottom-start" @click.stop="onToggle">
							<zondicon class="h-5 fill-current" :icon="icon"/>
						</div>
						<div class="switch flex self-center" hint="Maximize" v-hint hint-pos="left" @click="$session.fullScreen()">
							<zondicon class="h-4 fill-current" icon="screen-full"/>
						</div>
					</div>
					<transition name="fade">
						<div v-if="!show3d" class="viewer h-full">
							<vgrid-pvt :result="table"></vgrid-pvt>
						</div>
					</transition>
					<transition name="fade">
						<pview v-if="show3d" key="0" :table="table" style="height: 100%" class="viewer"/>
					</transition>
				</div>
			</template>
			<template v-slot:second>
				<pivot-control @pivot="onPivot" :table="model" :sql="sql"></pivot-control>
			</template>

		</splitpane>
	</div>
</template>

<style>
	.flex-10 {
		flex: 1 0 auto;
	}
	.pvt {
		display: flex;
		flex: 1 0 auto;
		max-width: 100%;
	}
	.viewer {
		display: flex;
		width: 100%;
		flex: 1 0 auto;
	}

	.fade-enter-active, .fade-leave-active {
		transition: opacity 500ms;
	}
	.fade-enter, .fade-leave-to {
		opacity: 0;
	}	
	.Pane {
		display: flex;
	}
	.switch {
		@apply text-gray-600;
	}
	.switch:hover {
		@apply text-gray-700;
	}

	.view-3d .switch {
		@apply text-gray-700;
	}
	.view-3d .switch:hover {
		@apply text-gray-800;
	}
</style>

<script>
	import Vue from "vue";
	import ResizeSensor from "css-element-queries/src/ResizeSensor";
	import PivotControl from "./pivot-control";
	import VgridPvt from "./vgrid-pvt";
	import pview from "./pview";
	import splitpane from "@/components/common/splitpane";
	import View from "@/model/session";

	export default {
		name: "pivot",
		components: {splitpane, PivotControl, VgridPvt, pview},
		data: () => ({
				table: null,
				show3d: false,
				pos: 65
			}),
		props: {
			model: Object,
			sql: null
		},
		watch: {
			model(o, n) {
			}
		},
		mounted() {
		},
		updated() {
		},
		computed: {
			viewLabel() {
				return !this.show3d ? "3D View" : "Table View"
			},
			viewClass() {
				return this.show3d ? "view-3d" : ""
			},
			icon() {
//				return this.show3d ? "ti ti-layout-grid3" : "ti ti-bar-chart-alt"
				return this.show3d ? "view-list" : "chart-bar"
			}
		},
		methods: {
			onPivot: function (data) {
				this.table = data
			},
			onToggle() {
				this.show3d = !this.show3d
			},
			onResize() {

			},
			onFullpage() {
				View.toggle()
			}
		}
	}
</script>

