<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="pcontrols text-sm w-full flex h-full">
		<splitpane v-model="pos">
			<template v-slot:first>
				<div class="flex flex-row flex-1 overflow-hidden" ref="left">
					<div class="flex-col pivot-box">
						<div class="pivot-axis">
							<table class="pivot">
								<thead><tr><th>Values</th></tr></thead>
								<draggable group="pivot" :list="vdims" @add="mkPivot" @remove="mkPivot" @update="mkPivot" tag="tbody" ref="vals">
									<tr v-for="rv,i in vdims">
										<td class="handle flex flex-col">
											<div class="flex items-center">
												<dt-icon :type="sqlType(rv[0])" class="pr-05"/>
												<div class="dt-col">{{rv[0]}}</div>
											</div>
										</td>
										<td class="selector">
									<nselect v-bind:key="rv[0]" :options="schema[rv[0]].aggregators" class="nselect"
											 v-model=schema[rv[0]].aggregator
											 disableFuzzyMatching
											 @input="mkPivot"
											 @close="sclose"
											 >
									</nselect>
									</td>
									</tr>
								</draggable>
							</table>
						</div>
						<div class="pivot-axis">
							<table class="pivot">
								<thead><tr><th>Columns</th></tr></thead>
								<draggable group="pivot" :list="cdims" @start="onStart" @end="onEnd" @add="onAdd" @remove="mkPivot" @update="mkPivot" tag="tbody" ref="rows">
									<tr v-for="rc,i in cdims" :key="rc[1]">
										<td class="handle flex flex-col">
											<div class="flex items-center">
												<dt-icon :type="sqlType(rc[0])" class="pr-05"/>
												<div class="dt-col">{{rc[0]}}</div>
											</div>
										</td>
										<td class="selector">
									<nselect v-if="dims(rc)" 
											 :loadOptions="dims(rc).loader" 
											 :options="dims(rc).all" class="nselect"
											 :limit="1" 
											 :flatten-search-results="true"
											 :value-consists-of="mode"
											 :selection="dims(rc).selects"
											 disableFuzzyMatching 
											 multiple 
											 :async=dims(rc).async
											 @input="onSelect(rc, $event)"
											 @close="sclose"
											 >
									</nselect>
									</td>		
									</tr>
								</draggable>
							</table>
						</div>
						<div class="pivot-axis">
							<table class="pivot" >
								<thead><tr><th>Rows</th></tr></thead>
								<draggable group="pivot" :list="rdims" @start="onStart" @end="onEnd" @add="onAdd" @remove="mkPivot" @update="mkPivot" tag="tbody" ref="rows">
									<tr v-for="rr in rdims" :key="rr[1]">
										<td class="handle flex flex-col">
											<div class="flex items-center">
												<dt-icon :type="sqlType(rr[0])" class="pr-05"/>
												<div class="dt-col">{{rr[0]}}</div>
											</div>
										</td>
										<td class="selector">
									<nselect v-if="dims(rr)"
											 :loadOptions="dims(rr).loader" 
											 :options="dims(rr).all" class="nselect"
											 :limit="1" 
											 :flatten-search-results="true"
											 :value-consists-of="mode"
											 :selection="dims(rr).selects"
											 disableFuzzyMatching 
											 multiple 
											 :async=dims(rr).async
											 @input="onSelect(rr, $event)"
											 @close="sclose"
											 >
									</nselect>
									</td>
									</tr>
								</draggable>
							</table>
						</div>
					</div>
				</div>
			</template>
			<template v-slot:second>
				<div class="flex p-2 pb-0 flex-0 w-full">
					<div class="flex flex-col w-full" ref="right">
						<div class="relative flex vk-btn flex-col justify-center mb-1 border">
							<Zondicon class="flex absolute align-center px-1" icon="search"/>
							<input class="vk-input flex active:border-b px-6 border-blue-400" type="text" v-model="filter">
							<button class="flex absolute align-center px-1 self-end" tabindex="0" @click="filter=null"><Zondicon icon="close"/></button>
						</div>
						<scroll-table :model="modelf" table-class="pivot tree" class="all-cols" @dnd='modelc'>
							<template v-slot:td="p">
								<div class="flex items-center"><dt-icon :type="sqlType(p.data)"/><div class="ml-1 dt-col">{{p.data}}</div></div>
							</template>
						</scroll-table>
					</div>
				</div>
			</template>
		</splitpane>
	</div>
</template>
<style>
	.vk-btn svg {
		height: .8em;
	}
	.vk-btn input:focus {
		border-bottom: solid 1px #63b3ed;

	}
	.sortable-drag { 
		background-color: rgba(100,160,240,0.5);
	}
	.pivot-dim {
		vertical-align: inherit;
	}
	.pivot th {
	} 
	.pivot td {
		white-space: nowrap;
		border: solid 1px rgba(100,100,100,.2);
		padding: .2rem 1rem .2rem 1rem;
	}
	.pivot td .fa {
		align-self: center;
	}
</style>
<style scoped>
	.search {
		min-height: 0; 
		flex: 1 0 auto;
		margin-bottom:  .4rem;
	}
	.search  input {
		border-top: solid 1px rgba(100,100,100,.2);
		border-right: solid 1px rgba(100,100,100,.2);
		border-left: solid 1px rgba(100,100,100,.2);
	}
	.all-cols {
		border-top: solid 1px rgba(100,100,100,.2);
		height: 400px;
		width: 100%;
		cursor: pointer;
	}
	.pcontrols >>>  td.matched {
		color: #c44;
	}

	.pcontrols >>> .gutter {
		background-color: rgba(100,100,100,.1);
		background-repeat: no-repeat;
		background-position: 50%;
	}

	.pcontrols >>> .gutter.gutter-horizontal {
		cursor: col-resize;
	}

	.pcontrols >>> .gutter.gutter-vertical {
		cursor: row-resize;
	}
	.pcontrols .border {
		/*padding: 1em;*/
		max-width: 100%;
		min-width: 0;
		width: 100%;
	}
	.items {
		display: flex;
	}
	.items tr div {
		cursor: grab;
	}
	.dragging .nselect {
		display: none;
		width: 0;
		max-width: 0;
	}
	.pr table {
		display: flex !important;
		border-collapse: collapse;
		width: inherit;
	}
	.pr td {
		border: solid 1px rgba(100,100,100,.2);
		padding: .2em;
	}
	.pivot-box {
		display: flex;
		flex: 1 0 auto;
		min-width: 0;
		padding: .5rem;
		background-color: rgba(200,200,200,.1);
	}

	.pivot-axis {
		display: flex;
		flex-direction: column;
		white-space: nowrap;
		flex: 0 0 auto;
		width: 100%;
	}
	.pivot-axis table {
		border: solid 1px rgba(100,100,100,.1);
		width: 100%
	}
	.pivot-axis table tbody {
		min-height: 5em;
	}
	.pivot-axis table thead {
	}

	.pivot-axis table th {
		padding: .2rem .4rem .2rem .4rem;
		text-align: left;
		border-bottom: solid 1px rgba(100,100,100,.1);
	}
	.pivot-axis  {
		padding: .2rem .4rem .2rem .4rem;
		text-align: left;
		border-bottom: solid 1px rgba(100,100,100,.1);
	}
	.pivot-axis tbody {
		display: block;
	}
	.pivot-axis th {
		font-weight: normal;
		background-color: rgba(200,200,200,.15);
	}
	.pivot-axis  td {
		padding: .2rem .4rem .2rem .4rem;
		border: none;
		display: table-cell;
		vertical-align: middle;
	}
	.pivot-axis  td.selector {
		width: 100%;
	}
	.pr-05 {
		padding-right: 0.125rem;
	}
	.pivot-axis .handle {
		cursor: pointer;
	}
	.pivot-axis span {
		padding-right: .1rem;
	}
</style>
<script src="./pivot-control.v.js">
</script>

