<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="top" ref="top">
		<div class="tool-info">
			<div class="tool-button" @click="takePicture" hint="Take a Picture" hint-pos="left" v-hint>
				<zondicon class="fill-current" icon="camera"/>
				<!--<span class="mdi mdi-camera" style="color:#ababab"/>-->
			</div>
			<div class="tool-button" @click="centerView" hint="Center View" hint-pos="left" v-hint>
				<zondicon class="fill-current" icon="view-show"/>
			</div>
			<div class="tool-button" v-bind:class="{activated: sensor}" 
				 @click="sensor = !sensor"
				hint="Datapoint Sensor" hint-pos="left" v-hint>
				<dt-icon v-if="sensor" type="datapoint-solid"/>
				<dt-icon v-else type="datapoint"/>
<!--				<div v-if="sensor" class="mdi mdi-comment-text"/>
				<div v-else class="flex mdi mdi-comment-outline"/>-->
			</div>
		</div>
		<div class="label" ref="label">
			<table>
				<thead><tr><th class="pivot-measure">{{table.measure.name}}:</th><th colspan="1" class="pivot-value">{{label.value}}</th></tr></thead>
				<tbody>
					<tr v-for="(r,i) in label.rows"><td class="pivot-col">{{table.cpivots[i]}}:</td><td class="">{{r}}</td></tr>
					<tr v-for="(c,i) in label.cols"><td class="pivot-row">{{table.rpivots[i]}}:</td><td class="">{{c}}</td></tr>
				</tbody>
			</table>
		</div>
		<div ref="scene" class="scene h-full"
				@mousemove="onMouseMove" @click="onClick"
				>
		</div>
<!--				@click="onClick"
				@keydown.a="onKeyPress"
				@mousedown="mouseButton=true" 
				@mouseup="mouseButton=false"-->
	</div>
</template>
<style>
</style>
<style scoped>
	.top {
		display: flex;
		position: relative;
		width: 100%;
	}
	.scene {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column;
		flex: 1 1 auto;
	}
	.tool-info {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0;
		top: 2.7rem;
		z-index: 1000;
		@apply px-4 items-center mt-1;
	}
	.tool-info div {
		margin-bottom: .25rem;
	}
	.tool-info .tool-button svg {
		@apply fill-current;
	}
	.tool-info .tool-button {
		display: flex;
		box-sizing: border-box;
		text-align: center;
		border-radius: 4px;
		transform: translateX(3px);
		padding: .1em;
		@apply border-gray-100 text-gray-700 mb-1;
	}
	.tool-info .tool-button svg {
		height: 1.2rem;
		@apply flex justify-center;
	}
	.tool-info .mdi {
		display: flex;
		height: 1em;
		transform: translateY(-2px);
	}
	.tool-info .tool-button:hover {
		transition: background-color 400ms ease-in-out 100ms;
		background-color: rgba(20,20,20,.1);
		@apply text-gray-800;
	}
	.tool-info .tool-button:active {
		transition: background-color 0ms ease-in-out 100ms;
		background-color: rgba(20,20,20,.2);
		@apply text-gray-800;
	}
	.label {
		font-size: 75%;
		border: solid 1px rgba(200,200,200,.25);
		border-radius: 2px;
		background-color: rgba(100,100,100, .6);
		color: white;
		padding: .4em;
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		z-index: -1000;
		background-color: none;
		pointer-events: none;
		@apply shadow-md;
	}
	.label table {
		border-collapse: collapse;
	}
	.label table tr td {
		border-top: solid 1px rgba(200,200,200,.1);
	}
	.label table tr td:first-child {
		border-right: solid 1px rgba(200,200,200,.1);
		padding-right: .4rem;
		font-style: oblique;
	}
	.label table tr td:last-child {
		padding-left: .4rem;
	}
	.label th {
		text-align: right;
		border-bottom: solid 1px rgba(200,200,200,.2);
		font-weight: 600;
	}
	.label td {
		padding: 0;
	}
	.label .pivot-measure {
		text-align: left;
		font-style: oblique;
		opacity: .5;
	}
	.label .pivot-col::before {
		content: "\f0a9";
		font-family: "fontawesome";
		padding-right: 0.4rem;
		color: rgba(60,200,100,0.65);
	}
	.label .pivot-row::before {
		content: "\f0ab";
		font-family: "fontawesome";
		padding-right: 0.4rem;
		color: rgba(200,165,60,.8);
	}
</style>

<style>
	.label {
		border: solid 0px blue;
		background-color: rgba(200,200,200,.4);
		padding: .4em;
	}

</style>
<script src="./pview.v.js">
</script>

