<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="scroll-table-container">
		<div class="scroll-table" ref="cont">
			<div class="r0">
				<table ref="tbl0" :class="tableClass">
					<thead ref="head"></thead>
				</table>
			</div>
			<table ref="tbl" :class="tableClass">
				<draggable group="pivot" :list="model.rows" tag="tbody" ref="body" @scroll="onScroll" @end="onEnd">
					<tr v-for="(row,i) in model.rows" :key="row[0]">
						<td v-for="data in row.slice(0,1)" v-bind:key="data" v-bind:class="{matched: row[1]==true}">
					<slot name="td" v-bind:data="data"><div class="std">{{data}}</div></slot>
					</td>
					</tr>
				</draggable>
			</table>
		</div>
	</div>
</template>
<style>
	.simplebar-track .simplebar-scrollbar.simplebar-visible::before {
		opacity: .3;
	}
	.simplebar-track.simplebar-horizontal {
		pointer-events: auto;
	}
	.simplebar-content {
		height: inherit !important;
	}
	.sortable-drag { 
		background-color: blue;
		opacity: .5;
	}
</style>
<style scoped>
	.scroll-table-container {
		display: flex;
		min-height: 0;
		max-width: 100%;
		max-height: 100%;
		flex: 1 1 auto;
		/*align-items: flex-end;*/
	}
	th {
		border-bottom: none;
		color: #999;
		font-weight: normal;
	}
	.scroll-table {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		min-width: 0;
		flex: 1 0 auto;
	}
	.scroll-table table {
		border-collapse: collapse;
		display: flex;
		/*flex-direction: column;*/
		max-height: 100%;
		max-width: 100%;
		min-height: 0;
		min-width: 0;
		margin: 0;
		padding: 0;
	}
	thead {
		max-width: unset !important;
		overflow: hidden;
		border-bottom: solid 1px rgba(100,100,100,.2);
	}
	thead tr:first-child th {
		border-bottom:  none;
	}
	.r0 {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		min-width: 0;
		min-height: 0;
	}
	tbody {
		max-height: 100%;
		max-width: 100%;
		overflow: auto;
	}
	td,th {
		border: solid 1px rgba(100,100,100,.2);
		white-space: nowrap;
		padding: .2rem 1rem .2rem 1rem;
	}
	tbody tr:first-child td {
		border-top: none;
	}
</style>
<script>

	import Vue from "vue";
	import ResizeSensor from "css-element-queries/src/ResizeSensor";
	import 'simplebar/dist/simplebar.css';
	import SimpleBar from 'simplebar';
	import draggable from "vuedraggable";

	export default {
		components: {draggable},
		data: () => ({
				sb: null,
				sc: null
			}),
		props: {
			tableClass: {
				type: String,
				default: ""
			},
			model: {type: Object}
		},
		computed: {
			tmodel() {
				if (!this.model) return ({cols: [], rows: []})
				return ({
					cols: this.model.cols ? this.model.cols : [],
					rows: this.model.rows ? this.model.rows : []
				})

			}
		},
		mounted() {
			const self = this;
			new ResizeSensor(this.$refs.cont, this.resize)
			this.sb = new SimpleBar(this.$refs.tbl, {autoHide: false})
			this.sc = this.sb.getScrollElement()
			this.sc.addEventListener("scroll", self.onScroll)
		},
		updated() {
			this.resize()
			this.sb.recalculate()
			this.sc.scrollTop = 0
			this.sc.scrollLeft = 0
		},

		beforeDestroy() {
			this.sc.removeEventListener("scroll", this.onScroll)
			ResizeSensor.detach(this.$refs.cont);
		},
		methods: {
			onEnd() {
				this.nxt(_ => this.$emit("dnd"))
			},
			nxt(f) {
				this.$nextTick().then(_ => f())
			},
			resize() {
				[true, false].map(this.rsz)
			},
			rsz(reset) {
				if (!this.$refs.body.$el.firstChild) return 0

//				const hrow = this.$refs.head.firstChild
				const brow = this.$refs.body.$el.firstChild

//				const headers = Array.from(hrow.children)
				const row1 = Array.from(brow.children)

//				const headersw = headers.map(p => p.offsetWidth)
				const widths = row1.map(p => p.clientWidth)

				widths.forEach((p, i) => {
					var tp = reset ? "unset" : p + "px"
					row1[i].style.minWidth = tp
					row1[i].style.maxWidth = tp
				})
				if (reset) return 0


				this.nxt(() => {
					const tsize = this.$refs.cont.offsetWidth
					const rsize = brow.offsetWidth
					const delta = tsize - rsize - 1
					if (delta < 1) return

//					const hrl = hrow.lastChild
					const brl = brow.lastChild

					const brlw = brl.clientWidth

					const nw = (delta + widths[widths.length - 1]) + "px"
					brl.style.minWidth = nw
					brl.style.maxWidth = nw
//					hrl.style.minWidth = nw
//					hrl.style.maxWidth = nw
				})

			},
			onScroll(x) {
				this.$refs.head.scrollLeft = this.sc.scrollLeft
			}
		}
	}
</script>

