<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div ref="top" class="flex w-full h-full pvt-tbl flex-col">
		<div class="measure flex font-medium pt-5 text-gray-600 pb-2 pl-16 border border-b-1">
			<div class="h-4 flex items-center">{{measure}}</div>
		</div>
		<div class="flex min-h-0 w-full h-full rtc" ref="rtc">
			<!--<regular-table id="rtbl" class="pvt flex min-h-0 w-full relative" ref="rtbl" :key="key"></regular-table>-->
			<regular-table id="rtbl" class="pvt flex min-h-0 w-full mt-12" ref="rtbl" :key="key"></regular-table>
		</div>
	</div>
</template>
<style scoped>
	.pvt-tbl >>> .pvt {
		font-family: roboto;
	}
	.pvt-tbl >>> .pvt thead th {
		padding: .2rem .4rem .2rem .4rem;
		font-weight: 500;
		min-width: 1px !important;
	}
	.pvt-tbl >>> .pvt thead th:not(:last-child) {
		border-right: solid 1px rgba(100,100,100,.2);
	}
	.pvt-tbl >>> .pvt tbody tr th {
		border-top: solid 1px rgba(100,100,100,.2);
		font-weight: 500;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.pvt-tbl >>> .pvt tbody tr td:first-of-type {
		border-left: solid 1px rgba(100,100,100,.2);
		font-weight: normal;
	}
	.pvt-tbl >>> .pvt tbody tr td {
		/*padding: .4rem .4rem .4rem .4rem;*/
		text-align: right;
		color: #2f507c;
		/*border-right: solid 1px rgba(100,100,100,.2);*/
	}
	.pvt-tbl >>> regular-table,
	.pvt-tbl >>> regular-table:hover {
		scrollbar-color: rgba(100,100,100,.3) transparent;
	}
</style>
<style>
regular-table.pvt td,regular-table.pvt th {
	padding:6px 5px;
	height:32px
}
</style>

<script>
import "regular-table";
import "@/assets/rgt.css"
import ResizeSensor from "css-element-queries/src/ResizeSensor.js"
import ArrowTypes from "@/components/common/ArrowTypes"
import io from "@/components/common/io";
const range = (a, b) => (a < b) ? [...Array(b - a).keys()].map(p => p + a) : []

	export default {
		name: "vgrid-pvt",
		components: {},
		data: () => ({
				viewer: null,
				key: 0
			}),
		props: {
			result: null,
		},
		computed: {
			measure() {
				return this.result ? this.result.measure.name : ""
			}
		},

		mounted() {
			new ResizeSensor(this.$refs.top, this.adjust)
			this.onupdated()
			this.$bus.$on("export", this.exportCSV)
		},
		updated() {
		},
		beforeDestroy() {
			this.$bus.$off("export", this.exportCSV)
			ResizeSensor.detach(this.$refs.top);
		},
		watch: {
			result: function () {
				this.onupdated()
			}
		},
		methods: {
			onupdated() {
//				console.log("RESULT", this.result)
				this.key += 1
				this.$nextTick().then(() => {
					this.viewer = document.getElementsByTagName("regular-table")[0];
					this.viewer.setDataListener(this.dataListener);
					this.viewer.draw()
					})
						.then(() => this.viewer.draw())
			},
			adjust() {
				if (this.viewer) {
					const pn = this.$refs.rtc
					this.viewer.style.height = pn.clientHeight + "px"
					this.viewer.style.width = pn.clientWidth + "px"
					this.viewer.draw()
				}
			},
			exportCSV(xlsx) {
				io.exportData(this.result,  xlsx)
			},
			style_td(td) {
				const meta = this.viewer.getMeta(td)
			},

			dataListener(x0, y0, x1, y1) {
//				console.log("RESULT", this.result)
				const rs = this.result
				if (!rs || !rs.cols.length) return 0
				const ncols = rs.cols[0].length
				x1 = Math.min(x1, ncols)
//				console.log(rs.rows.slice(y0, y1).map(r => r.data.slice(x0, x1)))

				const cdepth = rs.cols.length

				const rheaders = rs.rpivots.length ? rs.rows.slice(y0, y1).map(y => y.row) : []

				const fmt = p => ArrowTypes[rs.measure.type.typeId].cellFmt(rs.measure, p)
				const data = ({
					num_rows: rs.rows.length,
					num_columns: ncols,
					row_headers: rheaders,
					column_headers: range(x0, x1).map(x => range(0, cdepth).map(d => rs.cols[d][x])),
					data: range(x0, x1).map(x => rs.rows.slice(y0, y1).map(y => fmt({value: y.data[x]}))),
//					data: rs.rows.slice(y0,y1).map(r => r.data.slice(x0,x1).map(fmt))

				})
//				console.log("table data", data)
				return data
			}
		}
	}
</script>
<style>
</style>
