/*
Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.

Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/
@media (max-device-width: 1680px) {
	html body {
		font-size: 11px;
	}
}
body {
	font-family: Roboto;
	color: #4a5568;
}
.title {
	position: absolute;
	left: 8%;
	bottom: 17%;
	align-self: flex-start;
}
.title img  {
	margin-bottom: 2em;
}
.title .name {
	font-family: Roboto Thin;
	/*color: rgba(100,100,100,1);*/
	text-transform: uppercase;
	font-size: 60px;
	opacity: .8;
	letter-spacing: .3rem;
} 
.box {
	position: absolute;
	right: 10%;
	bottom: 13%;
}
.box, input {
	font-family: Roboto;
	/*color: rgba(100,100,100,1);*/
	/*		text-transform: uppercase;*/
	/*font-size: 1em;*/
	opacity:1;
	letter-spacing: .025em;
}
td {
	/*padding: .4em .4em .4em 0;*/
	padding: 1em 1.2em 1em 0.4em;
}
td.button {
	padding-top: 1.2em;
	text-align: right;
}
td.button input {
	border: none;
	color: 555;
	padding: .5em 1.3em;;
}
input[type=text],input[type=password] {
	border: none;
	outline: none;
	border-bottom: solid 1px rgba(100,100,100,.4);
	padding-left: .2em;
	line-height: 1.5em;
}
input[type=text]:focus,input[type=password]:focus {
	outline: none;
	border-bottom: solid 1px rgba(10,100,200,.6);
	transition: all 250ms ease-in;
}

input[type=submit] {
	outline: none;
	border: solid 1px rgba(100,100,100,.4);
	border-radius: 0px;
	padding: .3em 1.1em .4em 1.1em;
	background-color: #bee3f8;
	outline: 0;
}

input[type=submit]:hover {
	background-color: #90cdf4;
	transition: all 250ms ease-in;
	color: #333;
}
input[type=submit]:active {
	background-color: #63b3ed;
	transition: all 250ms ease-in;
	color: #333;
}
