<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->

<template>
	<div class="stats" ref="cont">
		<vk-tabview class="text-xs">
			<template v-slot:controls>
				<div class='flex justify-center hint--left' v-hint hint="Compute Statistics">
					<button v-bind:style="compute" style="width:1rem"
							@click="computeStatistics">
						<zondicon icon="list-bullet" class="fill-current text-gray-500"/>
					</button>
				</div>
			</template>
			<vk-tabpane name="properties" icon="view-list" @onShow="onShow">
				<!--{{$session.item}}-->
				<scroll-table ref="sct" :model="tblData" tableClass="properties" class="text-sm"></scroll-table>
			</vk-tabpane>
			<vk-tabpane ref="tabh" name="histogram" icon="chart" :enabled="hasStats">
				<div class="chart-container flex-1 w-full max-w-full" ref="ccontainer">
					<canvas id="chart" ref="chart"></canvas>
				</div>
			</vk-tabpane>
		</vk-tabview>
	</div>
</template>

<style>
	.properties th, .properties td {
		padding: .1rem 1rem .1rem 1rem;
	}
	.stats {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.stats .scroll-table tr td:first-child {
		@apply text-gray-500;
	}

	.stats .scroll-table tr th:first-child {
		width: 8rem;
	}
	.stats svg {
		max-height: 1rem;
	}
	.chart-container {
		height: 100%;
		min-height: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 0 0 auto
	}
	.chart-container canvas {
		display: flex;
		padding: 0em 1em 0em 1em;
		flex-direction: column;
		flex: 1 0 auto;
		min-height: 0;
		height: 100%;
	}

</style>

<script>
	import Chart from 'chart.js/auto';
	import ScrollTable from "@/components/common/ScrollTable";
	import VkTabview from "@/components/common/vk-tabview";
	import VkTabpane from "@/components/common/vk-tabpane";
	import ResizeSensor from "css-element-queries/src/ResizeSensor";

	export default {
		components: {ScrollTable, VkTabview, VkTabpane},
		data: () => ({
				data: null,
				chart: null,
				densities: null,
				compute: "",
				hasStats: false
			}),
		props: {
		},
		mounted() {
//			this.data = this.$session.item
			new ResizeSensor(this.$refs.cont, this.refresh)
		},
		beforeDestroy() {
			ResizeSensor.detach(this.$refs.cont, this.refresh)
		},
		computed: {
			tblData() {
				const item = this.$session.itemv

				this.compute = item && item.level() > 1 ? "" : "display:none"
				if (!item) return null

				const r = ({cols: ["Name", "Value"], rows: []})
				r.rows = item.info()
				return r
			}
		},
		updated() {
			if (!this.$session.itemv) return null
			const item = this.$session.itemv.data

			if (!(item && item.stats && item.stats.histogram && item.stats.histogram.densities)) {
				this.$refs.tabh.$el.style.opacity = 0.0
				this.hasStats = false
			}
			else {
				this.densities = item.stats.histogram.densities
				this.$refs.tabh.$el.style.opacity = 1.0
				this.$refs.tabh.$el.style.color = "blue"
				this.hasStats = true
			}
			this.mkChart()
		},
		methods: {
			onShow() {
				console.log("### onshow")
				this.$refs.sct.resize()
			},
			computeStatistics() {
				const item = this.$session.itemv
				this.$session.activity = true
				const sql = item.level() > 2
						? `analyze table ${item.parent.fqn()} compute statistics for columns \`${item.name()}\``
						: `analyze table ${item.fqn()} compute statistics`
				this.$svr.executeSqlx(sql).then(r => {
					item.reload()
					this.$session.activity = false
				})

			},
			refresh() {
				this.$refs.sct.resize()
			},
			mkChart() {
				if (this.chart) {
					this.chart.destroy()
					this.chart = null
				}
				if (!this.densities) return
				const densities = this.densities
				console.log(Chart.defaults)

				const tooltipPlugin = Chart.registry.getPlugin('tooltip');
				tooltipPlugin.positioners.cpos = function (elements, eventPosition) {
					var tooltip = this
					return eventPosition
				}

				Chart.defaults.hover.animationDuration = 0
				Chart.defaults.plugins.tooltip.position = "cpos"
				Chart.defaults.plugins.legend.display = false

				Chart.defaults.animation = false
				Chart.defaults.animations.colors = false
				Chart.defaults.animations.x = false
				Chart.defaults.transitions.active.animation.duration = 0

				this.chart = new Chart(this.$refs.chart, {
					type: "bar",
					data: {
						labels: Object.keys(densities),
						datasets: [{
								data: Object.keys(densities).map(p => densities[p]),
								backgroundColor: '#3f70a1bb',
								borderColor: 'rgba(54, 162, 205, .0)',
								borderWidth: 0
							}]
					},
					options: {
						maintainAspectRatio: false,
						tooltips: {
							position: "cpos",
							cornerRadius: 0,
							backgroundColor: "rgba(100,100,100,.6)"
						},
						legend: {
							display: false
						},
						scales: {
							yAxes: [{ticks: {beginAtZero: true}}]
						}
					}
				})

			},
		},
	}
</script>

