<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="">
		<dlg-commit></dlg-commit>
		<vk-modal name="tm-about" title="About QF" classes="">
			<div class="flex flex-row w-full h-full">
				<div class="flex flex-row mx-2 my-4 px-6 py-4 border w-full" >
					<table class="table-auto text-gray-600 flex">
						<tbody>
							<tr>
								<td class="pr-6"><img class="inline" src="@/assets/drawing.png"/></td>
								<td class="title" >QF-Console</td>
							</tr>
							<tr><td></td><td class="pb-4 pt-2">SQL Web Console for Apache Spark</td></tr>
							<tr><td></td><td class="pb-1">Author: &copy 2017-2021 Jochen Schwenk, Axio Compents for Business</td></tr>
							<tr><td></td><td>Website: <a class="underline" href="https://gitlab.com/axcb/qfconsole">https://gitlab.com/axcb/qfconsole</a></td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</vk-modal>
		<vk-modal name="tm-drop" title="Drop Table" classes="" @before="tmDropData" height="300">
			<div class="flex flex-col h-full p-4 m-3 border">
				<div class="flex flex-col h-full">
					<div class="flex flex-row items-center mb-2">
						<zondicon icon="exclamation-solid" style="height:1.3em;" class="text-blue-400 fill-current mr-5"/>

						<div v-if="tmDrop" class="flex text-lg w-full flex-1 text-gray-500">
							Drop Table:
						</div>
					</div>
					<div class="flex ml-10">
						<table v-if="tmDrop" border="0" class="flex">
							<tbody>
								<tr>
									<td><dt-icon type="library" class="pr-2"/></td>
							<!--<td class="pr-8 text-gray-500">Schema</td>-->
							<td>{{tmDrop.parent.name()}}</td>
							</tr>
							<tr>
								<td><dt-icon type="table" /></td>
							<!--<td class="pr-8 text-gray-500">Table</td>-->
							<td class="">{{tmDrop.name()}}</td>
							</tr>
							</tbody>
						</table>

					</div>
				</div>
				<!--					
				
								
								<dt-icon type="library" />
								<div v-if="tmDrop" class="flex flex-col h-full text-lg pl-2 ml-4 mt-2">{{tmDrop.parent.name()}}</div>
								<div v-if="tmDrop" class="flex flex-col h-full text-lg pl-2 ml-4 mt-2">{{tmDrop.parent.name()}}</div>-->
				<div class="flex justify-end flex-0 mx-3 mt-2">
					<vk-button classes="text-sm" icon="trash" @click="runDrop">Drop</vk-button>
				</div>
			</div>
		</vk-modal>

		<vk-modal class="tm-upload flex" name="tm-upload" title="Table Import" height="400"
				  @before="tmUploadData" @opened="onOpen" @closed="onClosed">
			<vk-tabview class="text-sm">
				<vk-tabpane name="CSV Upload" icon="" class="text-sm flex flex-col p-2">
					<div v-show="false">{{tm}}</div>
					<div class="border flex flex-col h-full p-2">
						<input ref="fp" class="filepond" name="filepond" type="file"/>
						<div class="flex w-full justify-end"><vk-select :model="separatorModel"></vk-select></div>
						<div class="flex flex-col h-full flex-1 justify-end">
							<div class="flex flex-0 mt-0 mb-6">
								<table class="tbl w-full">
									<tr><td>Schema:</td><td class="w-full" v-if="tmUpload">{{tmUpload.fqn()}}</td></tr>
									<tr>
										<td>Table:</td><td class="text-black w-full"><input class="tex-red-200 w-full" type="text" name="tbl" v-model="tblName" placeholder="Enter Table Name" /></td>
									</tr>
									<tr ><td>Status:</td><td class="status w-full">{{status}}</td></tr>
								</table>
							</div>
						</div>
					</div>
					<div class="flex flex-col">
						<vk-button classes="text-sm" class="mt-4 flex self-end flex-0" icon="checkmark-outline" @click="runUpload">OK</vk-button>
					</div>
				</vk-tabpane>
				<vk-tabpane name="JDBC Loader" class="p-2 flex-col">
					<div class="flex flex-grow border-0 border-b flex-col h-full mt-0 justify-start p-3 min-h-0">
						<vk-codemirror class="min-h-0 bg-gray-100 border mb-2 flex flex-1 h-5" v-model="query" :highlight="highlight"></vk-codemirror>
						<div class="flex flex-row w-full">
							<vk-input label="URL:" v-model="jdbc" class="flex1" placeholder="jdbc:"></vk-input>
							<vk-input label="User:" v-model="user" class="flex2 ml-1"></vk-input>
							<vk-input label="Password:" v-model="passwd" itype="password" class="flex2 ml-1"></vk-input>
						</div>
						<div class="flex flex-0 mt-8 mb-2">
							<table class="tbl w-full">
								<tr><td>Schema:</td><td class="w-full" v-if="tmUpload">{{tmUpload.fqn()}}</td></tr>
								<tr>
									<td>Table:</td><td class="text-black w-full"><input class="tex-red-200 w-full" type="text" name="tbl" v-model="tblName" placeholder="Enter Table Name" /></td>
								</tr>
								<tr ><td>Status:</td><td class="status w-full">{{status}}</td></tr>
							</table>
						</div>
					</div>
					<div class="flex flex-col">
						<vk-button classes="text-sm" class="mt-4 flex self-end flex-0" icon="checkmark-outline" @click="runJdbc">OK</vk-button>
					</div>
				</vk-tabpane>
			</vk-tabview>
		</vk-modal>
	</div>
</template>

<style scoped>
	.title {
		font-family: Roboto;
		font-size: 1.5em;
		opacity: .85;
		font-weight: 400;
		letter-spacing: .12em;
	}
	.flex1 {
		flex: 6 1 auto;
	}
	.flex2 {
		flex: 1 1 auto
	}

	.tm-upload >>> .file-icon {
		@apply rounded-sm
	}
	.tm-upload >>>  td {
		border: solid 1px rgba(100,100,100,.1);
		@apply text-gray-700 py-1;
	}
	.tm-upload >>> .tbl td:first-child {
		@apply bg-gray-100 ; 
	}
	.tm-upload >>> .tbl tr:nth-child(2) td:nth-child(2) {
		@apply text-blue-600; 
		/*border-bottom: solid 1px rgba(100,100,100,.4);*/
	}
	.tm-upload >>> .filepond--panel-root {
		@apply rounded-none
	}
	.tm-upload >>>.filepond--item-panel {
		@apply bg-gray-600 rounded-none

	}
	other .file-preview {
		@apply bg-blue-300
	}
	.tbl td {
		@apply px-3;
	}
	.tm-upload >>> a.filepond--credits {
		display: none;
	}
	.tm-upload >>> input::placeholder {
		@apply text-gray-400 italic;
	}
	.tm-upload >>> .status:before {

	}
</style>

<script>
	import DtIcon from "@/components/icons/dt-icon"
	import axios from "axios";
	import dlgCommit from "./dlg-commit";
	import * as FilePond from 'filepond';
	import 'filepond/dist/filepond.css';

	export default {
		name: "dialogs",
		components: {dlgCommit, DtIcon},
		data: () => ({
				query: "select * from tbl",
				jdbc: null,
				user: null,
				passwd: null,
				fp: null,
				files: [],
				tmDrop: null,
				tmUpload: null,
				tm: 0,
				tblName: "",
				tblName1: "",
				status: null,
				separatorModel: {name: 'Separator', values: [',', ';', '<TAB>'], current: ','}
			}),
		mounted() {
		},
		methods: {
			highlight(text) {
				return highlight(text, languages.sql)
			},
			runDrop() {
				this.$svr.executeSqlx(`drop table ${this.tmDrop.fqn()}`).then(() => {
					this.tmDrop.parent.reload()
					this.$modal.hide("tm-drop")

				})
			},
			runJdbc() {
				this.status = `Spark Processing..`
				this.$svr.importJdbc(this.query, this.jdbc, this.user, this.passwd, `${this.tmUpload.fqn()}.${this.tblName1}`)
						.then(r => {
							this.status = `Finished (${r.headers.timing} ms)`
							this.tmUpload.reload()
						})
						.catch((x) => {
							const r = x.response
							console.log(JSON.stringify(r, 2, 2))
							this.status = `${r.status}: ${r.data && r.data.message ? r.data.message : r.statusText}`
						})

			},
			runUpload() {
				if (!this.fp.getFile()) return 0
				this.status = "File transfer.."
//			this.fp.onprocessfileprogress = (x,p)=>{if(p>.95) this.status = "Spark process.."}
				const fs = this.separatorModel.current === "<TAB>" ? "\t" : this.separatorModel.current
				this.fp.setOptions({
					onerror: x => console.log("FP ERROR", x),
					server: {
						process: (fieldName, file, metadata, load, error, progress, abort) => {
							const formData = new FormData();
							formData.append('file', file, file.name);
							const CancelToken = axios.CancelToken;
							const source = CancelToken.source();

							axios({
								method: 'post',
								url: `./api/v1/dict/schemas/${this.tmUpload.name()}?tbl=${this.tblName}`,
								data: formData,
								cancelToken: source.token,
								params: {fs: fs},
								onUploadProgress: (e) => {
									// updating progress indicator
									progress(e.lengthComputable, e.loaded, e.total);
									if (e.loaded === e.total)
										this.status = "Spark Processing..."
								}
							}).then(response => {
								this.status = response.data.message
								this.tmUpload.reload()
							}).catch((error) => {
								this.status = error.response.data.msg
							});
							return {
								abort: () => {
									source.cancel('Operation canceled by the user.');
								}
							};
						},

						process1: {
							url: `./api/v1/dict/schemas/${this.tmUpload.name()}?tbl=${this.tblName}`,
							onerror: z => {
								const x = JSON.parse(z);
								this.status = `[${x.type}]: ${x.msg}`
							},
							onload: z => {
								const x = JSON.parse(z);
								this.status = x.message
							}
						},
						revert: null, restore: null, load: null, fetch: null
					}
				})

				try {
					this.fp.processFile().then(() => this.tmUpload.reload())
				}
				catch (x) {
					console.log("EXCEPTION", x)
				}
			},
			uploadReady() {
			},
			onClosed(data) {
				this.passwd = null
				this.status = null
				if (this.fp) this.fp.destroy()
			},
			onOpen(data) {
				console.log("opened", this.jdbc)
				if (!this.fp) ;
				this.fp = FilePond.create(this.$refs.fp, {instantUpload: false})
			},
			tmDropData(data) {
				this.tmDrop = data.params.data
				console.log(this.tmDrop)
			},
			tmUploadData(data) {
				this.tm = Date.now()
				this.tmUpload = data.params.data
			}
		}
	}
</script>
