<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
		<vk-modal name="tm-commit" :title="'Commit: ' + name" @before="setup">
			<div class="flex flex-row w-full h-full p-2">
				<textarea class="h-full w-full border p-1" placeholder="Enter commit message ..." v-model="message"/>
			</div>
			<div class="flex flex-row justify-end w-full p-2">
				<button class="bg-blue-200 border px-4 text-sm text-gray-600  py-1" 
						ref="btn" icon='home' @click="onCommit" 
						hint-pos="left" :hint="hint" v-hint>Commit</button>
			</div>
		</vk-modal>
</template>

<style scoped>
	.title {
		font-family: Roboto;
		font-size: 1.5em;
		opacity: .85;
		font-weight: 400;
		letter-spacing: .12em;
	}
	textarea {
		
		resize: none;
	}
</style>

<script>
	export default {
		name: "dialogs",
		components: {},
		data: () => ({
				name: "fn",
				message: ""
			}),
		mounted() {
		},
		computed: {
			hint() {
				return this.message && this.message.length ? "Commit" : "Enter commit message"
			}
		},
		methods: {
			setup(data) {
				this.message = ""
				this.name = data.params.data
			},
			onCommit() {
				if (this.message && this.message.length) {
					this.$bus.$emit("save-doc", this.message)
					this.$modal.hide("tm-commit")
				}
				else this.$refs.btn._tippy.show()
			}
		}
	}
</script>
