<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<splitpane :model="80" vertical>
		<template v-slot:first>
			<tree ref="tree"></tree>
		</template>
		<template v-slot:second >
			<chart></chart> 
		</template>
	</splitpane>
</template>

<style scoped>
	.schema {
		width: 100%;
	}
</style>

<script>

	import Tree from "@/components/Tree";
	import chart from "@/components/chart";
	import ScrollTable from "./common/ScrollTable.vue";

	export default {
		components: {Tree, ScrollTable, chart},
		data: () => ({
				state: null,
				view: null,
				properties: null,
				histogram: [],
				tblProps: {
					cols: ["name", "value"],
					rows: []
				}
			}),
		watch: {
			state: {
				deep: true,
				handler: function (n, o) {
					this.showStats(n.info)
				}
			}
		},

		mounted: function () {
			this.state = Tree.root
		},
		updated: function () {

		},
		methods: {
			showStats: function (path) {
				if (this.chart) this.chart.destroy()
				if (!path) return
				if (path.length < 3) return
				this.$svr.getTableInfo(path[0], path[1])
						.then(r => {
							this.properties = r.data
							this.view = this.mkChart(r.data.stats.colStats[path[2]])
							this.tblProps = ({
								cols: ["name", "value"],
								rows: Object.keys(r.data.storage).map(p => [p, r.data.storage[p]])
							})
						})
			},
			mkChart: function (data) {
				this.histogram = []

				if (!data || !data.histogram) return
				this.histogram = Object.keys(data.histogram.densities).map(p => ({x: p, y: data.histogram.densities[p].toFixed(2)}))
				return this.histogram
			}
		}
	}

</script>
