<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="tree flex zzz" tabindex="0" ref="tree">
		<ul style="align-self: stretch" >
			<tree-item @stats="onStats" :state="state"
						class="item"
						:model="tn" tabindex="0" opened>
			</tree-item>
		</ul>
	</div>
</template>

<style scoped>
	.tree {
		overflow: auto;
		height: 100%;
		width: 100%;
		flex-direction: column
	}
	.tree ul,ol {
		padding-left: 1rem;
		margin: 0;
	}
</style>

<script>
	import Vue from "vue";
	import TreeItem from "./TreeItem";

	const state = Vue.observable({info: null})
	export default {
		root: state,
		components: {TreeItem},
		data: () => ({
				state: state,
				tn: 1
			}),
		created() {
			this.tn = this.$session.treeNode
		},	
		mounted() {
			this.tn = this.$session.treeNode
//			new SimpleBar(this.$refs.tree, {autoHide: false})
		
		},
		methods: {
			onStats: function (x) {
				this.$emit("stats", x)
			}
		}
	}
</script>