<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<li>
			   
		<div  ref="item" class="tree-row item" :class="current" @keydown="onKey" tabindex="0" :style="itemIndent">
			<div class="flex relative items-center">
				<a @dblclick="toggle($event, false)" @click="toggle($event, true)" class="bg-blue-100 cursor h-full w-full absolute top-0 opacity-0" ></a>
				<div class="relative pr-1">
					<dt-icon class="fill-current" :type="symbol"/>
					<a @click="toggle($event, false)" class="bg-blue-100 cursor h-full w-full absolute top-0 opacity-0" ></a>
				</div>
				<dt-icon :type="icon" :class="{'dt-rot': busy}"/>
				<div draggable="true"  class="pl-1 cursor-default"
					 ondragstart="event.dataTransfer.setData('text',event.target.textContent)"
					 tabindex="-1"  
					 @click="$bus.$emit('model',model)">{{model.name()}}
				</div>
			</div>
			<div class="item-control" v-if="model.level()<2">
				<span @click.stop="refresh" v-hint hint="Refresh" hint-pos="top-start"><Zondicon class="mr-2" icon="refresh"/></span>
				<div v-if="model.level()>0" @click.stop="showImport" hint-pos="top-start"><Zondicon class="" icon="upload" v-hint hint="Import" hint-pos="top-start"/></div>
			</div>

			<div class="item-control" v-if="model.level()===2">
				<span @click.stop="$bus.$emit('view',model)" class="md md-table mr-2" v-hint hint="Preview" hint-pos="top-start"><Zondicon icon="view-list"/></span>
				<span @click.stop="refresh" v-hint hint="Refresh" hint-pos="top-start"><Zondicon class="mr-2" icon="refresh"/></span>
<!--				<span @click.stop="nop"><Zondicon icon="edit-pencil"/></span>-->
				<span @click.stop="showMaintenance" class="mr-2" v-hint hint="Drop" hint-pos="top-start"><Zondicon icon="trash"/></span>
				<span class="flex search ml-2">
					<span @click.stop="clearFilter" class="" ><Zondicon icon="search" style="transform: translateY(1px)"/></span>
					<input class="border" type="text" v-model="filter" @click.stop=";" tabindex="0" ref="search">
				</span>
			</div>
		</div>
		<ul v-show="open" v-if="isFolder" tabindex="0">
			<tree-item v-for="tsn,i in modelF" 
					   class="item" 
					   :class="matchClass(i)"
					   :key="tsn.key()"
					   :model="tsn"
					   >
		</tree-item>
		</ul>
	</li>
</template>

<script>
	import Vue from "vue";
	import scrollIntoView from 'scroll-into-view-if-needed';
	import DtIcon from "@/components/icons/dt-icon"
	import _cn from "lodash/collection";
	import _fn from "lodash/function";
	import cloneDeep from "lodash/cloneDeep";

	export default {
		name: "tree-item",
		components: {DtIcon},
		props: {
			model: Object,
			opened: {
				type: Boolean,
				default: false
			}
		},
		data: () => ({
				filter: null,
				matched: [],
				aid: -1,
				aidv: -1
			}),
		mounted() {
			if (this.opened) this.openT()
		},
		updated() {
			if(this.$session.item && this.model.fqn() === this.$session.item.fqn()) {
				scrollIntoView(this.$refs.item, {behavior: 'auto', scrollMode: 'if-needed', block: "nearest", inline: "nearest"})
			}
		},
		watch: {
		},
		computed: {
			busy() {
				return this.model.busy && this.model.level() < 3
			},
			open() {
				return this.model.open
			},
			modelF() {
				const model = this.model
				this.matched = model.subNodes.map(_ => false)

				if (model.level() !== 2) return model.subNodes

				if (!(this.filter && this.filter.trim().length > 0)) return this.model.subNodes

				if (!this.open) this.openT()

				const flt = this.filter.trim().toLowerCase()
				const func = p => this.filter && this.filter.trim().length > 0 && p.name().toLowerCase().indexOf(flt) > -1
				const [head, tail] = _cn.partition(this.model.subNodes, func)
				this.matched = head.map(_ => true).concat(tail.map(_ => false))
				return head.concat(tail)
			},
			isFolder() {
				return this.type !== 10;
			},
			icon() {
				if (this.busy && this.model.level() < 3) return "reload"
				return this.model.type()
			},
			symbol() {
				var cls = this.open ? "caret-down" : "caret-right"
				if (this.model.level() > 2) cls = this.model.data.stats ? "circle-solid" : "circle"
				return cls
			},
			itemIndent() {
				const lvl = this.model.level() + .6
				return `padding-left: ${lvl}rem;`
			},
			dtClass() {
				if (this.model.level() === 3 && this.model.data.partition) return "partition-type"
				return ""
			},
			current() {
				if (!this.$session.item) return ""
				const v = this.model.fqn() === this.$session.item.fqn()
				return this.dtClass + (v ? " current" : "")
			}
		},
		methods: {
			refresh(event) {
				this.model.reload()
			},
			onKey(event) {
				const VK_UP = 38
				const VK_RIGHT = 39
				const VK_DOWN = 40
				const VK_LEFT = 37
				const VK_RETURN = 13
				const VK_DELETE = 46
				
				const drd = _fn.debounce(() => this.$session.item.reloadInitial(), 200)
				const reload = p => {
					clearTimeout(this.aid)
					this.aid = setTimeout(() => this.$session.item.reloadInitial(), 200)
				}
				const item = this.$session.item
				var update = true
				switch (event.keyCode) {
					case VK_LEFT:
						event.preventDefault()
						if (this.model.level() === 0) break
						if(item.open) item.open = false
						else this.$session.item = item.parent
						reload()
						break
					case VK_UP:
						event.preventDefault()
						const fn = it => 
							it.open ? fn(it.subNodes[it.subNodes.length-1]) : it

						this.$session.item = item.parent.fqn()!==item.prev.fqn() 
							? fn(item.prev) : item.parent
						reload()
						break
					case VK_RIGHT:
						event.preventDefault()
						if(this.model.level() < 3) {
							if (item.open) {
								if (item.subNodes.length) this.$session.item = item.subNodes[0]
								reload()
							}
							else {
									item.reload().then(_ => {if (item.subNodes.length) item.open = true})
							}
						}
						break
					case VK_DOWN: 
						event.preventDefault()
						if (item.open && item.subNodes.length) {
							this.$session.item = item.subNodes[0]
						}
						else {
							this.$session.item = item.next
						}
						reload()
						break
					case VK_RETURN:
						event.preventDefault()
						if(this.$session.item.level() === 2) this.$bus.$emit('view',this.$session.item)
						break
					case VK_DELETE:
						event.preventDefault()
						if (this.model.level() === 2)
							this.$modal.show("tm-drop", {data: this.model})
						break
					default:
						update = false
						break
				}
				if (update) this.setCurrentItem()
			},
			setCurrentItem() {
				clearTimeout(this.aidv)
				setTimeout(() => this.$session.itemv = this.$session.item, 100)
			},
			matchClass(idx) {
				return this.matched[idx] ? "matched-item" : ""
			},
			showMaintenance() {
				this.$modal.show("tm-drop", {data: this.model})
			},
			showImport() {
				this.$modal.show("tm-upload", {data: this.model})
			},
			nop(data) {
			},
			clearFilter() {
				this.filter = ""
			},
			ondrag(event) {
			},
			openT(open=true) {
				this.model.reload().then(() => {
					this.$session.item = this.model
					this.model.open = true
				})
			},
			closeT() {
				this.model.open = false
			},
			toggle(event, field=true) {
//				if (this.model.level() > 2) return 0
				if (event && event.target.tagName === "svg") return 0
				this.$set(this.$session, "item", this.model)
				if (!this.isFolder||true) {
					if (!this.model.data) this.model.reload()
					this.$session.item = this.model
					this.setCurrentItem()
//					return 0
				}
				if (event.type !== "dblclick" && field ) return 0 
				if (this.open) this.closeT()
				else this.openT()
			},
			changeType() {
				if (!this.isFolder) {
					Vue.set(this.model, 'subNodes', []);
					this.open = true
				}
			},
		}
	}
</script>

<style>
	[aria-label][data-balloon-pos].tooltip:after {
		background-color: rgba(10,10,10, .2);
	}
</style>
<style>
	.item-control {
		margin-left: 1rem;
		outline: none !important;
	}
	.item-control svg {
		fill: #bbb;
		height: .85em;
		align-self: center;
		outline: none !important;
	}
	.item-control svg.large {
		height: 1.1em;
	}
	.item-control svg:hover {
		fill: #6888b4;
		transition: all 200ms ease-in;
	}
	.item-control svg:active {
		fill: #224466;
		transition: all 200ms ease-in;
	}
	.tree-row {
		display: flex;
		align-items: center;
	}
	ul {
		padding-left: 0 !important;
	}
	.tree-item {
		display: flex;
		white-space: nowrap;
		align-items: center;
	}
	.matched-item {
		color: #c44;
	}
	.tree li {
		list-style: none;
		width: 100%
	}
	.tree .item .fa {
		display: flex;
		flex-direction: row;
		align-self: center;
		opacity: .5;
		min-width: 1rem;
		text-align: center;
		flex: 0 0 auto;
	}

	.dt-icon.circle {
		transform: translateY(.05rem);
		@apply text-gray-600
	}
	.dt-icon.circle-solid {
		transform: translateY(.05rem);
		@apply text-gray-400
	}
	.tree-row.current {
		background-color: #bfd2ec44;
		/*font-weight: 500;*/
	}
	div:focus .tree-row.current {
		background-color: #bfd2ec5f;
		/*font-weight: 500;*/
	}
	.tree-row.current:hover {
		background-color: #bfd2ec4f;
		/*font-weight: 500;*/
	}
	.tree-row:hover {
		background-color: rgba(200,200,200,.15);
	}
	.tree-row:hover .item-control {
		opacity: 1;
		transition: all 100ms ease-in;
	}
	.item-control {
		display: flex;
		opacity: 0;
		transition: all 100ms ease-out;
		margin-left: 1em;
		color: rgba(100,100,100,.8);
	}
	.item-control span {
		display: flex;
		flex: 0 0 auto;
		/*margin-right: .62em;*/
	}
	.item-control .search  input {
		background-color: transparent;
		width: 6rem;
		border-top: none;
		border-left: none;
		border-right: none;
		color:inherit;
		transform: translateX(-1.75rem);
		padding-left: 1.2em;
	}
	.item-control .search  input:focus {
		border-bottom: solid 1px #63b3ed;
	}
	.item-control .search input {
		margin-left: .85rem;
	}
	.item-control .search input:focus {
		width: 8rem;
	}

	.tree .pc {
		color: #104eff;
	}

	.tree .item.partition-type {
		font-style: italic;
	}

	.tree .item.partition-type svg {
		background-color: #f4f4f4;
	}
	.tree .z-rot {
		transform: rotate(90deg);
	}
	
</style>
