<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="flex flex-1 flex-col max-w-full">
		<dialogs></dialogs>
		<div class="navbar gradient-1 flex flex-0 py-1 items-center px-4 border">
			<img src="@/assets/drawing.png"/>
			<div class="qf mx-3 text-gray-600">QF</div>
			<div class="flex justify-end flex-1">
			<vk-button icon="information-outline"  @click="$modal.show('tm-about')" color="indigo" class="mx-4">About QF</vk-button>
			<vk-button icon="star-full" :url="sparkUi" class="mx-1">Spark-UI</vk-button>
			<vk-button @click="onLogout" icon="close-outline" >Logout</vk-button>
			</div>
		</div>
		<div class="content">
			<splitpane v-model="$session.panel0.pos">
				<template v-slot:first><schema class="schema"></schema></template>
				<template v-slot:second><sql-panel class="sql-panel"></sql-panel></template>
			</splitpane>
		</div>
		<div class="flex gradient-1" style="min-height: 1.2rem"></div>
	</div>
</template>

<style scoped>
	.navbar {
		border-bottom: solid 1px rgba(100,100,100, .1);
	}
		.content {
		display: flex;
		flex: 1 1 auto;
		overflow: hidden;
	}

	.qf {
		font-size: 1.4rem;
	}

</style>

<script>
	import dialogs from "./dialog"
	import Schema from "./Schema";
	import SqlPanel from "./sql/SqlPanel";
	export default {
		components: {Schema, SqlPanel, dialogs},
		data: () => ({
				pos: 20,
				sparkUi: ""
			}),

		watch: {
			pos(o,n) {
				console.log("POS", o, n)
			}
		},
		computed: {
		},
		
		mounted: function () {
			this.$session.svr.sparkUI().then(p => this.sparkUi = p.data[2])
		},
		
		methods: {
			test: function(event) {
			},
			onLogout: function () {
				this.$svr.logout().then(() => location.reload(true))
			}
		}
	}
</script>
