<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->

<template>
		<div class="scroll-table-container">
	<div class="scroll-table" ref="cont">
		<div class="r0">
			<table ref="tbl0" :class="tableClass">
				<thead ref="head">
					<tr>
						<th v-for="col in tmodel.cols">
							<slot name="th" v-bind:col="col"><div class="sth">{{col}}</div></slot>
						</th>
					</tr>
				</thead>
			</table>
			<div class="rr"/>
		</div>
		<table ref="tbl" class="btable" :class="tableClass">
			<tbody ref="body" @scroll="onScroll">
				<tr v-for="(row,i) in tmodel.rows">
					<td v-for="data in row">
						<slot name="td" v-bind:data="data"><div class="std">{{data}}</div></slot>
					</td>
				</tr>
			</tbody>
		</table>
			</div>
	</div>
</template>
<style>
	.simplebar-track .simplebar-scrollbar.simplebar-visible::before {
		opacity: .3;
	}
	.simplebar-track.simplebar-horizontal {
		pointer-events: auto;
		padding-top: -1rem;
	}
	.simplebar-content {
		height: inherit !important;
	}
	.simplebar-height-auto-observer {
		max-width: 0px;
	}
	.simplebar-scrollbar::before {
		background: rgba(10,10,10,.7);
	}
</style>

<style scoped>
	.scroll-table-container {
		display: flex;
		flex: 1 1 auto;
		min-height: 0;
		max-width: 100%;
		max-height: 100%;
	}
	th {
		border-bottom: none;
		color: #999;
		font-weight: normal;
	}
	.scroll-table {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		min-width: 0;
		flex: 1 1 auto;
	}
	.scroll-table table {
		border-collapse: collapse;
		display: flex;
		flex-direction: column;
		max-height: 100%;
		max-width: 100%;
		min-height: 0;
		min-width: 0;
		width: unset;
		margin: 0;
		padding: 0;
		height: 100%;
	}
	thead {
		max-width: unset !important;
		overflow: hidden;
		border-bottom: solid 1px rgba(100,100,100,.2);
	}
	thead tr:first-child th {
		border-bottom:  none;
	}
	.r0 {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		min-width: 0;
		min-height: 0;
	}
	tbody {
		max-height: 100%;
		max-width: 100%;
		/*overflow: auto;*/
	}
	td,th {
		border: solid 1px rgba(100,100,100,.2);
		white-space: nowrap;
		padding: .2rem 1rem .2rem 1rem;
	}
	tbody tr:first-child td {
		border-top: none;
	}
	tbody tr:last-child td {
		padding-bottom: .2rem;
	}
	
</style>

<script>
	import Vue from "vue";
	import ResizeSensor from "css-element-queries/src/ResizeSensor";
	import 'simplebar/dist/simplebar.css';
	import SimpleBar from 'simplebar';

	export default {
		data: () => ({
			sb: null,
			sc: null
		}),
		props: {
			tableClass: {
				type: String,
				default: ""
			},
			model: { type: Object }
		},
		computed: {
			tmodel: function() {
				if (!this.model) return ({cols:[], rows:[]})
				return ({
					cols: this.model.cols ? this.model.cols : [],
					rows: this.model.rows ? this.model.rows : []
				})
				
			}
		},
		mounted: function () {
			const self = this;
			new ResizeSensor(this.$refs.cont, this.resize)
			this.sb = new SimpleBar(this.$refs.tbl, {autoHide: false})
			this.sc = this.sb.getScrollElement()
			this.sc.addEventListener("scroll", self.onScroll)
		},
		updated: function () {
			this.resize()
			this.sb.recalculate()
			this.sc.scrollTop = 0
			this.sc.scrollLeft = 0
		},
		
		beforeDestroy: function () {
			this.sc.removeEventListener("scroll", this.onScroll)
			ResizeSensor.detach(this.$refs.cont);
		},
		methods: {
			nxt: function(f) {
				this.$nextTick().then(() => f()) 
			},
			resize: function () {
				this.nxt(() => [true, false].map(this.rsz))
			},
			rsz: function (reset) {
				if (!this.$refs.head.firstChild || !this.$refs.body.firstChild)	return 0

				const hrow = this.$refs.head.firstChild
				const brow = this.$refs.body.firstChild
				
				const headers = Array.from(hrow.children)
				const row1 = Array.from(brow.children)
				
				const headersw = headers.map(p => p.offsetWidth)
				const widths = headersw.map((p, i) => Math.max(p, row1[i].offsetWidth))
				
				widths.forEach((p, i) => {
					var tp = reset ? "unset" : p + "px"
					headers[i].style.minWidth = tp
					row1[i].style.minWidth = tp
					headers[i].style.maxWidth = tp
					row1[i].style.maxWidth = tp
				})
				if (reset) return 0
				
				this.nxt(() => {
					const tsize = this.$refs.cont.offsetWidth
					const rsize = brow.offsetWidth
					const delta = tsize - rsize - 1
					if ( delta < 1) return
					
					const hrl = hrow.lastChild
					const brl = brow.lastChild
					
					const brlw = brl.clientWidth

					const nw = (delta+widths[widths.length-1])+"px"
					brl.style.minWidth = nw
					brl.style.maxWidth = nw
					hrl.style.minWidth = nw
					hrl.style.maxWidth = nw
				})

			},
			onScroll: function (x) {
				this.$refs.head.scrollLeft = this.sc.scrollLeft
			}
		}
	}
</script>

