<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
    <splitpanes class="h-full w-full" :horizontal="vertical" @resized1="$emit('onresize',$event)" @resized="zz">
		<pane min-size="0" :size="pos" class="h-full w-full flex">
			<slot name="first"><div class="template">{{pos}}%</div></slot>
		</pane>
		<pane min-size="0" :size="100 - pos" class="h-full w-full flex">
			<slot name="second"><div class="template">{{100-pos}}%</div></slot>
		</pane>

    </splitpanes>
</template>

<style>
.splitpanes__splitter {background-color: #ccc;position: relative;}
.splitpanes .splitpanes__pane {transition: none;}
.splitpanes__splitter:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity 0.5s;
		background-color: rgba(200, 200, 200, 0.3);
		opacity: 0;
		z-index: 100;
	}
.splitpanes__splitter:hover:before {
	opacity: 1;
}
.splitpanes--vertical > .splitpanes__splitter:before {
	left: -4px;
	right: -4px;
	height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
	top: -4px;
	bottom: -4px;
	width: 100%;
}
</style>


<script>
	import Vue from "vue";
	import { Splitpanes, Pane } from 'splitpanes'
	import 'splitpanes/dist/splitpanes.css'
	export default {
		components: {Splitpanes, Pane},
		data: () => ({pos: 40}),
		watch: {
			value: function(n,o) {
				console.log("CHANGE POS", n)
				this.pos = n
			}
		},
		mounted() {
			this.pos = this.value
		},
		methods: {
			zz(data) {
				this.pos = data[0].size
				console.log("CHANGE EVENT", this.pos)
				this.$emit("input", this.pos)
			}
		},
		props: {
			value: {type: Number, default: 40},
			vertical: {type: Boolean, default: false}
		},
	}
</script>
