<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div>
	<div class="border -mx-px border-gray-300">
		<a v-if="isUrl" :href="url" target="_">
			<button class="vk-button flex outline-none
					active:text-gray-1000
					px-3 text-xs py-0 h-full
					shadow-0"
					@click="onClick"
					:class="colorClass"
					>
				<zondicon :icon="icon" class="fill-current mr-1"/>
				<span class=""><slot></slot></span>
			</button>
		</a>
			<button v-else class="vk-button outline-none w-full
				active:text-gray-1000 flex justify-center
				px-3 py-0 text-xs py-0 h-full
				shadow-0"
				:class="colorClass"
				@click="onClick" :disabled="disabled"
			>
			<zondicon :icon="icon" class="fill-current"/>
			<span :class="{'ml-1': hasText}"><slot></slot></span>
		</button>
	</div>
	</div>
</template>

<script>
	export default {
		name: "vk-button",
		data: () => ({}),
		props: {
			classes: "",
			disabled: {type: Boolean, default: false},
			icon: {
				type: String, default: "airplane"
			},
			color: {
				type: String, default: "blue"
			},
			url: {type: String, default: ""}
		},
		computed: {
			colorClass() {
				var [color, lvl] = this.color.split("-")
				if (!lvl) lvl = color in ["gray", "indigo"] ? 100 : 200
				return `bg-${color}-${lvl} hover:bg-${color}-${Number(lvl)+100} ${this.classes} active:bg-${color}-${Number(lvl)+200} ${this.classes}`
			},
			hasText() {
				return this.$slots.default
			},
			isUrl() {
				return this.url && this.url.length > 0
			},
		},
		mounted() {
		},
		methods: {
			onClick(event) {
				if (!this.isUrl) this.$emit("click",event)
			}
		}
	}
</script>
<style>
	button.vk-button {
		display: flex;
		@apply py-1;
		min-height: 2em;
		/*border-radius: 1px;*/
		/*border: solid 1px rgba(200,200,200,0);*/
	}
	button.vk-button:hover {
		transition: all 250ms ease-in-out;
	}
	button.vk-button:active {
		transition: all 100ms ease-in-out;
	}
	.vk-button svg {
		opacity: .95;
		/*padding-right: .2em;*/ 
		transform: translateY(-.0em);
		display: flex;
		height: .85rem;
		/*transform: scale(.8)*/
		align-self: center;
	}

</style>
