<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="flex flex-col">
		<div class="vkc flex flex-1" :class="{'modify':zz}" >
			<treeselect ref="vkc" v-model="ivalue" class="flex flex-0" :loadOptions="loadOptions" :options="options1" :placeholder="placeholder"
						disableFuzzyMatching :clearable="false"
						@open="onOpen"
						@close="onClose" 
						@search-change="onSearch"
						@select="onSelect"
						@input="onInput" :async="false" append-to-body
						:class="{'vkc-closed': !menuOpen}"
						/>
			<button class="bg-green-100" @click="onAction(0)" hint="New File" v-hint>
				n
			</button>
			<button class="bg-blue-100" @click="onAction(1)" hint="Rename" v-hint>
				r
			</button>
			<button ref="delb" class="bg-red-100" :class="{'font-extrabold bg-red-200':announced}" @click="onAction(2)" :hint="delText" v-hint>
				d
			</button>
		</div>
	</div>
</template>

<style>
	.vkc button svg {
		align-self: center;
		height: .85rem;
		stroke-width: 1px;
	}
	.vkc button {
		@apply border border-l-0 border-gray-300 text-xs;
		width: 1.6rem;
		margin: 0;
	}
	.vkc button.bg-green-100:hover {
		@apply bg-green-200;
		transition: all 250ms ease-in-out;
	}
	.vkc button.bg-blue-100:hover {
		@apply bg-blue-200;
		transition: all 250ms ease-in-out;
	}
	.vkc button.bg-red-100:hover {
		@apply bg-red-200;
		transition: all 250ms ease-in-out;
	}

	.vkc .vue-treeselect__placeholder:not(.vue-treeselect-helper-hide){
		line-height: unset;
		display: flex;
		align-items: center;
	}
	.vkc .vue-treeselect__menu {
		border-radius: 0;
	}
	.vkc .vue-treeselect__control {
		width: unset;
		border-radius: 0;
		height: unset !important;
	} 

	label.vue-treeselect__label::after {
		display: none;
	}
	.vkc.modify .vue-treeselect__menu {
		visibility: hidden;
	}
	.vkc .vue-treeselect__single-value {
		color: inherit;
	}
	
	div.vue-treeselect__control {
		@apply bg-gray-100;
	}
	.vkc.modify .vue-treeselect__placeholder {
		@apply text-gray-600;
	}
	.vkc.modify .vue-treeselect__control-arrow-container  {
		visibility: hidden;
	}
	.vkc-closed input {
		cursor: default;
	}
</style>

<script>
	import Treeselect from '@riophae/vue-treeselect';
	import '@riophae/vue-treeselect/dist/vue-treeselect.css';

	export default {
		components: {Treeselect},
		data: () => ({
				ivalue: null,
				savedValue: -1,
				placeholder: "Select...",
				zz: false,
				zvalue: null,
				announced: false,
				zaction: -1,
				menuOpen: false
			}),
		props: {
			value: {type: String, default: null},
			options: {type: Array, default: []},
		},
		
		watch: {
			value(n, o) {
				if (this.zz) this.ivalue = null
				else {
					const idx = this.options.findIndex(p => p === n)
					this.ivalue = idx > -1 ? idx : null
				}
			}
		},
		computed: {
			delText() {
				return this.announced ? "Press Again to Confirm" : "Delete"
			},
			options1() {
				return this.zz ? [{id: -1, label: this.zvalue}] : this.options.map((p, i) => ({id: i, label: p}))
			}
		},
		mounted() {
			this.control = this.$refs.vkc.$el
			this.input = document.querySelector(".vue-treeselect__control input")
			this.input.addEventListener("keydown", this.onKey)
			this.input.addEventListener("blur", this.onClose)
			const idx = this.options.findIndex(p => p === this.value)
			this.ivalue = idx > -1 ? idx : null

		},
		methods: {
			onSearch(data) {
				if (this.zz) this.zvalue = data
			},
			loadOptions(a, q, f) {
				a.callback(null, [{id: -1, label: "OK"}])
			},
			onInput(data) {
				this.ivalue = data ? data : this.ivalue
				this.zvalue = null
			},
			onSelect(event) {
				switch(this.zaction) {
					case 0: 
						this.$emit("new",this.input.value)
						break
					case 1: 
						this.$emit("rename", ({from: this.options[this.savedValue], to: this.input.value}))
						break
					case -1:
						this.$emit("input", event.label)
						break
				}
			},
			onOpen() {
				this.menuOpen = true
			},
			onClose() {
				this.menuOpen = false
				this.zz = false
				if (this.savedValue > -1) {
					this.ivalue = this.savedValue
					this.savedvalue = null
				}
				this.control.classList.remove("modify")
				this.placeholder = "Select..."
				this.input.blur()
				this.announced = false
				this.zaction = -1
				this.$refs.delb.removeEventListener("blur", this.onClose)
				this.$refs.delb.removeEventListener("keydown", this.onKey)
			},
			onKey(event) {
				if ((this.zz || this.announced) && event.keyCode === 27) {
					this.onClose()
					event.preventDefault()
				}
			},
			onAction(id) {
				if (this.ivalue === null && id === 2) return 0
				if (this.ivalue === null && id === 1) return 0
				this.zaction = id
				if (id === 2) {
					if (!this.announced) {
						this.$refs.delb._tippy.show()
						this.announced = true
						this.$refs.delb.focus()
						this.$refs.delb.addEventListener("blur", this.onClose)
						this.$refs.delb.addEventListener("keydown", this.onKey)
					}
					else {
						this.$emit("delete", this.options[this.ivalue])
						this.announced = false
					}
					return 0
				}
				this.zz = !this.zz;

				if (this.zz) {
					this.savedValue = this.ivalue
					this.ivalue = null
					this.input.focus()
					if (id === 0) {
					}
					this.control.classList.add("modify")
				}
				else {
					this.input.blur()
					this.control.classList.remove("modify")
				}
				this.placeholder = true ? "Enter new name..." : "Select..."
			}
		}
	}
</script>

