<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div ref="top" class="vcm h-full flex w-full flex-1 h-full max-h-full">
		<textarea ref="vcm"></textarea>
	</div>
</template>

<script>
import CodeMirror from "codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/mode/sql/sql";
import "codemirror/addon/selection/active-line.js";

export default {
	data: () => ({
			cm: null,
			cmo: {
				cursorBlinkRate: 0,
				mode: "text/x-sql",
				theme: "default",
				lineNumbers: false,
				indentWithTabs: true,
				smartIndent: false,
				scrollbarStyle: "native",
				extraKeys: {}
			}
		}),
	props: {
		lineNumbers: {type: Boolean, default: false},
		value: {type: String, default: ""}
	},
	updated() {
		console.log("update", new Date)
		this.cm.setValue(this.value)
	},
	beforeDestroy() {
		this.cm.off("change", this.onChange)
	},
	mounted() {
		this.cmo.lineNumbers = this.lineNumbers
		this.cm = CodeMirror.fromTextArea(this.$refs.vcm, this.cmo)
		this.cm.setOption("styleActiveLine", {})
		this.cm.setValue(this.value)
		this.cm.on("change", this.onChange)
		
// 		CodeMirror.commands.autocomplete = function(cm) {}
	},
	methods: {
		onChange(a,b,c,d,e) {
			this.$emit("input", this.cm.getValue())
		}
	}
}
</script>
<style scoped>
.vcm .CodeMirror {
	@apply w-full h-full;
}
.CodeMirror-lines {
	padding-left: .4em
}
.CodeMirror-gutter-background {
	transform: translateX(-.4em);
}
.CodeMirror-linebackground,
.CodeMirror-linenumber {
	transform: translateX(-.4em);
}
.CodeMirror-selected {
	transform: translateX(-.0em);
	background: rgba(220,220,220,.65)!important;
}
.CodeMirror-activeline-background {
		background-color: rgba(200,200,200,.10);
	}
.CodeMirror pre.CodeMirror-line {
	color: #995252;
}
.CodeMirror .cm-keyword {
	color: #3f3f3f;
}
.CodeMirror .cm-atom {
	color: #555;
}
.CodeMirror .cm-builtin {
	color: #555;
	font-style: italic;
}
.CodeMirror .cm-comment {
	color: #a0a0a0;
	font-style: italic;
}

.CodeMirror .cm-number {
	color: #6c8463;
}
.CodeMirror .cm-string {
	color: #5b9147;
}
.CodeMirror .cm-variable-2 {
	color: #880000;
}

</style>
