<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="" ref="dialog">
		<slot>OK</slot>
	</div>
</template>

<script>
	import jspanel from "jspanel4";
	export default {
		data: () => ({
			}),
		props: {
			name: {	type: String, default: "UNKNOWN"},
			icon: {	type: String, default: null}
		},
		computed: {
		},
		mounted() {
		},
		methods: {
			show(data) {
			}
		}
	}
</script>
<style>
</style>
