/*
Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.

Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

.tippy-box {
	--hint-bg: rgba(100,100,100, .6);
	position:relative;
	background-color: var(--hint-bg);
	color:white;
	border-radius:2px;
	font-size: 80%;
	line-height:1.4;
	outline:0;
	/*box-shadow: 2px 2px 4px #ccc;*/
	transition-property:transform,visibility,opacity;
}
.tippy-arrow {
	width:16px;
	height: 16px;
	color: var(--hint-bg);
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
	transform: translateY(-1px);
}
.tippy-box[data-placement^="top"] > .tippy-arrow::before {
	transform: translateY(1px);
}
.tippy-box[data-placement^="left"] > .tippy-arrow::before {
	transform: translateX(1px);
}
.tippy-box[data-placement^="right"] > .tippy-arrow::before {
	transform: translateX(-1px);
}
/*.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}
.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}
.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}
.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}
.tippy-box[data-placement^=left]>.tippy-arrow{right:0}
.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}
.tippy-box[data-placement^=right]>.tippy-arrow{left:0}
.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}
.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}
.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}
.tippy-content{position:relative;padding:5px 9px;z-index:1}*/
