<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="flex flex-1">
		<span class="border border-gray-300 border-r-0 px-2 bg-gray-300 whitespace-no-wrap cursor-default">{{label}}</span>
		<span class="flex flex-1">
			<input ref="field" name="field" v-on:input="onInput" size="7"
			   @change="change" @wheel.focus="onWheel" @click="onClick" v-model="rv"
			   class="border border-l-0 px-2 w-full border border-gray-300" :class="{'text-right': nf}" :type="itype" :placeholder="placeholder"/>
		</span>
	</div>
</template>
<style>
</style>
<script>
	import Cleave from "cleave.js";
	export default {
		name: "vk-input",
		data: () => ({
				cl: null,
				num: null,
				rv: null
			}),
		props: {
			nf: {type: Boolean, default: false},
			value: null,
			label: null,
			placeholder: null,
			itype: {type: String, default:"string"}
		},
		watch: {
			value(n, o) {
				if (this.cl) this.cl.setRawValue(n)
				else this.rv = n
			}
		},
		updated() {
		},
		mounted() {
			this.rv = this.value
			if(this.nf)  this.cl = new Cleave(this.$refs.field, ({numeral: true, numeralThousandsGroupStyle: 'thousand'}))
		},
		beforeDestroy() {
		},
		methods: {
			onClick() {
				if (!this.nf) return 0
				if (document.activeElement !== this.$refs.field) return 0
				const rv = this.cl.getRawValue()
				if (Number(rv) !== Number(this.value)) {
					this.$emit("change", rv)
					this.$refs.field.style.color = null
				}
			},
			onWheel(data) {
				if (!this.nf) return 0
				if (document.activeElement !== this.$refs.field) return 0
				const v = Math.floor(Math.log10(this.cl.getRawValue()))
				const d = data.deltaY < 0 ? 1 : -1
				this.cl.setRawValue(Math.pow(10,Math.max(v+d,0)))
				this.$refs.field.style.color = "#aaaaaa"
			},
			onInput(data) {
				if (this.nf) this.$emit("input", this.cl.getRawValue())
				else this.$emit("input", this.rv)
			},
			change(data) {
				const rv = this.nf ? this.cl.getRawValue() : this.rv
				this.$emit("change", rv)
			}
		}
	}
</script>
