<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<modal class="vk-modal flex" ref="modal"
		   :name="name" 
		   @before-open="beforeOpen" 
		   @opened="opened" 
		   @closed="$emit('closed')" 
		   draggable resizable :height="height">
		<div class="flex flex-col h-full content" ref="content">
			<div class="flex px-4 bg-gray-300 min-h-0 text-gray-600 p-2">{{title}}</div>
			<div class="m-2 flex flex-col h-full min-h-0">
				<slot/>
			</div>
		</div>
	</modal>
</template>

<script>
	import Vue from "vue";
	import VModal from 'vue-js-modal'
	Vue.use(VModal, { dialog: true })
	export default {
		name: "vk-modal",
		data: () => ({}),
		props: {
			name: String,
			title: String,
			height: String
		},
		computed: {
		},
		mounted() {
		},
		methods: {
			opened(data) {
				const modal = this.$refs.modal.$el.querySelector(".v--modal-box")
				const sc = this.$refs.content.scrollHeight
				modal.style.height = sc+32+ "px"
				this.$emit('opened',data)
			},
			beforeOpen(data)  {
				this.$emit("before", data)
			}
		}
	}
</script>
<style>
	.vk-modal .content {
		background-color: #fafafa
	}
	.vk-modal .v--modal-box
	/*.v--modal-box .v--modal*/ 
	{
		display: flex;
		flex-direction: column;
	}
</style>
