<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="relative flex p-1">
		<div class="bg-gray-300 box-content border border-r-0 border-gray-300 py-0 px-2 items-center flex cursor-default">{{model.name}}</div>
		<select v-model="model.current"
			class="block appearance-none w-full text-gray-700
				bg-gray-100 border border-l-0 border-gray-300 
				py-0 px-3 pr-8 border border-gray-300
				leading-tight focus:outline-none" @change="$emit('change', $event)">
			<option v-for="n in model.values">{{n}}</option>
		</select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
			<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
	</div>
</template>

<script>
	export default {
		name: "vk-select",
		data: () => ({}),
		props: {
			icon: {
				type: String, default: "airplane"
			},
			model: {
				type: Object,
				default() {
					return {name: "Select", values: ["---"], current: "---"}
				}
			}
		},
		updated() {
		},
		computed: {
			selected() {
				return this.model.current > -1 ? this.model.values[this.model.current] : "NOTHING"
			}
		},
		mounted() {
//			console.log(this.data)
		},
		methods: {
			click(data) {
				this.$emit("click", data)
			}
		}
	}
</script>


<style>

	select::-ms-expand {
		display: none;
	}
	select:-moz-focusring {
		color: transparent !important;
		text-shadow: 0 0 0 #000 !important;
	}
		 Remove IE arrow 
		select::-ms-expand {
			display: none;
		}

</style>
