<!--
-- Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.
--
-- Licensed to the Apache Software Foundation (ASF) under one
-- or more contributor license agreements.  See the NOTICE file
-- distributed with this work for additional information
-- regarding copyright ownership.  The ASF licenses this file
-- to you under the Apache License, Version 2.0 (the
-- "License"); you may not use this file except in compliance
-- with the License.  You may obtain a copy of the License at
--
--   http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing,
-- software distributed under the License is distributed on an
-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
-- KIND, either express or implied.  See the License for the
-- specific language governing permissions and limitations
-- under the License.
-->
<template>
	<div class="vk-tabview flex flex-1 h-100 flex-col max-h-full min-w-full">
		<div class="flex bg-gray-20 px-1 flex-0 titles p-0 border-b min-h-0" style="flex: 0 0 auto">
			<button v-for="tab,i in tabs" 
					class="vk-tab flex flex-0 px-2 py-2 mr-3 border-transparent border-b items-center uppercase"
					v-bind:class="titleClass(i)"
					@click="onTab(i)" 
					:disabled="!tab.$props.enabled">
				<zondicon v-if="tab.$props.icon" :icon="tab.$props.icon" class="fill-current pr-1 flex max-h-full" style="opacity: .75;"/>
				<div class="flex items-center" style="">{{tab.$props.name}}</div>
			</button>
			<div class="flex justify-end flex-1 pr-2">
				<slot name="controls"></slot>
			</div>
		</div>
		<div class="flex max-h-full min-w-full min-h-0 flex-1">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		data: () => ({
				index: 0,
				tabs: []
			}),
		mounted() {
			this.tabs = this.$slots.default.map(p => p.componentInstance)
			this.onTab(0)

		},
		updated() {
		},
		methods: {
			onTab(index) {
				this.tabs.forEach((p,i) => p.active = i === index)
				this.tabs[index].show()
				this.index = index
			},
			titleClass(index) {
				const opacity = this.tabs[index].enabled ? "" : "opacity-40"
				return index === this.index ? `border-blue-400 ${opacity}` : opacity
			}
		}
	}
</script>
<style>
	.vk-tab-active {
		transition: all 400ms ease-in-out;
		border-bottom: solid 1px #63b3ed;
	}	
</style>
