/*
Copyright (c) 2017-2021 Jochen Schwenk, Axio Components for Business.

Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-device-width: 8192px) {
	html body {
		font-size: 15px;
	}

	.text-sm {
		font-size: 13px;
	}
}

@media (max-device-width: 1680px) {
	html body {
		font-size: 12px;
		.text-sm {
			font-size: 11px;
		}
		line-height: 1.5
	}
}
body  {
	font-family: roboto;
	@apply text-gray-700;
}
body *:focus,
body *:active
{
	@apply outline-none
}

select {
	@apply text-gray-700;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}


.Resizer {
	z-index: unset !important;
}
.gradient-1 {
	background: linear-gradient(to right, rgb(235,235,235), rgb(240,240,240) );
}

.vue-treeselect__multi-value-item,
.vue-treeselect__single-value {
	align-items: center;
	display: flex;
}

.vue-treeselect--single .vue-treeselect__option--selected {
	@apply bg-gray-200;
	font-weight: 500;
}

