/* 
 * Licensed under the Apache License, Version 2.0 (the "License");

 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
regular-table {
	padding:12px 0 0 12px;
	scrollbar-color:transparent transparent;
	scrollbar-width:thin;
	outline:none
}
regular-table:hover {
	scrollbar-color:rgba(0,0,0,.3) transparent
}
regular-table {
	font-family:Open Sans
}
regular-table div[tabindex] {
	outline:none
}
regular-table>div {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden
}
regular-table th {
	text-align:center
}
regular-table thead tr:not(:last-child) th {
	overflow:hidden;
	max-width:0
}
regular-table tbody .pd-float,regular-table thead tr:last-child .pd-float {
	text-align:right
}
regular-table tbody .pd-integer,regular-table thead .pd-integer {
	text-align:right
}
regular-table tbody th {
	text-align:left
}
regular-table span.pd-tree-container {
	display:flex;
	align-items:center;
	height:100%
}
regular-table tbody .pd-date,regular-table tbody .pd-datetime,regular-table tbody .pd-string,regular-table thead .pd-date,regular-table thead .pd-datetime,regular-table thead .pd-string {
	text-align:left
}
regular-table thead tr:last-child th {
	border-bottom:1px solid #ddd
}
regular-table th {
	position:relative
}
regular-table tr th span.pd-tree-group {
	margin-left:5px;
	margin-right:15px;
	border-left:1px solid #eee;
	height:100%
}
regular-table td,regular-table th {
	white-space:nowrap;
	font-size:12px;
	padding:0 5px;
	height:19px
}
regular-table tr:hover td {
	background:#eee;
	opacity:1
}
regular-table tr:hover {
	color:#333
}
regular-table table * {
	box-sizing:border-box
}
regular-table table {
	position:absolute;
	overflow:hidden;
	color:#666;
	outline:none
}
regular-table span.pd-row-header-icon {
	color:#aaa;
	padding-right:4px;
	font-family:Material Icons
}
regular-table span.pd-column-header-icon {
	font-size:10px;
	padding-left:3px;
	display:inline-block;
	width:10px;
	font-family:Material Icons
}
regular-table span.pd-row-header-icon:hover {
	color:#1a7da1;
	text-shadow:0 0 3px #1a7da1
}
regular-table .pd-selected td {
	background-color:#eee
}
regular-table .pd-cell-clip {
	overflow:hidden;
	text-overflow:ellipsis
}
regular-table td span.pd-group-name,regular-table th span.pd-group-name {
	margin-right:-5px;
	padding-right:5px;
	padding-left:8px;
	flex:1;
	height:100%
}
regular-table th span.pd-group-name {
	text-align:left
}
regular-table td th span.pd-group-leaf,regular-table th span.pd-group-leaf {
	margin-left:16px;
	height:100%
}
regular-table .pd-column-resize {
	height:100%;
	width:10px;
	position:absolute;
	top:0;
	right:0;
	cursor:col-resize
}
regular-table::-webkit-scrollbar,regular-table::-webkit-scrollbar-corner {
	background-color:transparent;
	height:12px;
	width:12px
}
regular-table::-webkit-scrollbar-thumb {
	background-clip:content-box;
	background-color:transparent;
	border-radius:5px
}
regular-table::-webkit-scrollbar-thumb:horizontal {
	border-bottom:2px solid transparent;
	border-top:2px solid transparent
}
regular-table::-webkit-scrollbar-thumb:vertical {
	border-left:2px solid transparent;
	border-right:2px solid transparent
}
regular-table:hover::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.15)
}
regular-table::-webkit-scrollbar-thumb:hover {
	background-color:rgba(0,0,0,.3)
}

